<%= form_with(model: organization_stakeholder, local: true) do |form| %>
  <% if organization_stakeholder.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(organization_stakeholder.errors.count, "error") %> prohibited this organization_stakeholder from being saved:</h2>

      <ul>
      <% organization_stakeholder.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :organization_id %>
    <%= form.text_field :organization_id %>
  </div>

  <div class="field">
    <%= form.label :stakeholder_id %>
    <%= form.text_field :stakeholder_id %>
  </div>

  <div class="field">
    <%= form.label :stakeholder_rank_id %>
    <%= form.text_field :stakeholder_rank_id %>
  </div>

  <div class="field">
    <%= form.label :percent_owned %>
    <%= form.text_field :percent_owned %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
