<h1>Editing Organization Stakeholder</h1>

<%= render 'form', organization_stakeholder: @organization_stakeholder %>

<%= link_to 'Show', @organization_stakeholder %> |
<%= link_to 'Back', organization_stakeholders_path %>
