<p id="notice"><%= notice %></p>

<h1>Organization Stakeholders</h1>

<table>
  <thead>
    <tr>
      <th>Organization</th>
      <th>Stakeholder</th>
      <th>Stakeholder rank</th>
      <th>Percent owned</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @organization_stakeholders.each do |organization_stakeholder| %>
      <tr>
        <td><%= organization_stakeholder.organization.org_name %></td>
        <td><%= organization_stakeholder.stakeholder.stakeholder_fname + " " + organization_stakeholder.stakeholder.stakeholder_lname%></td>
        <td><%= organization_stakeholder.stakeholder_rank.stakeholder_rank_desc %></td>
        <td><%= number_to_percentage(100*organization_stakeholder.percent_owned) %></td>
        <td><%= link_to 'View', organization_stakeholder %></td>
        <td><%= link_to 'Edit', edit_organization_stakeholder_path(organization_stakeholder) %></td>
        <td><%= link_to 'Delete', organization_stakeholder, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Organization Stakeholder', new_organization_stakeholder_path %>
