<p id="notice"><%= notice %></p>

<p>
  <strong>Organization:</strong>
  <%= @organization_stakeholder.organization.org_name %>
</p>

<p>
  <strong>Stakeholder:</strong>
  <%= @organization_stakeholder.stakeholder.stakeholder_fname + " " + @organization_stakeholder.stakeholder.stakeholder_lname %>
</p>

<p>
  <strong>Stakeholder rank:</strong>
  <%= @organization_stakeholder.stakeholder_rank.stakeholder_rank_desc %>
</p>

<p>
  <strong>Percent owned:</strong>
  <%= number_to_percentage(100*@organization_stakeholder.percent_owned) %>
</p>

<%= link_to 'Edit', edit_organization_stakeholder_path(@organization_stakeholder) %> |
<%= link_to 'Back', organization_stakeholders_path %>
