<%= form_with(model: equipment_sys_ranking, local: true) do |form| %>
  <% if equipment_sys_ranking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(equipment_sys_ranking.errors.count, "error") %> prohibited this equipment_sys_ranking from being saved:</h2>

      <ul>
      <% equipment_sys_ranking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :eqp_sys_desc %>
    <%= form.text_field :eqp_sys_desc %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
