<h1>Editing Equipment Sys Ranking</h1>

<%= render 'form', equipment_sys_ranking: @equipment_sys_ranking %>

<%= link_to 'Show', @equipment_sys_ranking %> |
<%= link_to 'Back', equipment_sys_rankings_path %>
