<p id="notice"><%= notice %></p>

<h1>Equipment Sys Rankings</h1>

<table>
  <thead>
    <tr>
      <th>Eqp sys desc</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @equipment_sys_rankings.each do |equipment_sys_ranking| %>
      <tr>
        <td><%= equipment_sys_ranking.eqp_sys_desc %></td>
        <td><%= link_to 'View', equipment_sys_ranking %></td>
        <td><%= link_to 'Edit', edit_equipment_sys_ranking_path(equipment_sys_ranking) %></td>
        <td><%= link_to 'Delete', equipment_sys_ranking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Equipment Sys Ranking', new_equipment_sys_ranking_path %>
