<p id="notice"><%= notice %></p>

<p>
  <strong>Eqp sys desc:</strong>
  <%= @equipment_sys_ranking.eqp_sys_desc %>
</p>

<%= link_to 'Edit', edit_equipment_sys_ranking_path(@equipment_sys_ranking) %> |
<%= link_to 'Back', equipment_sys_rankings_path %>
