<%= form_with(model: diversification_ranking, local: true) do |form| %>
  <% if diversification_ranking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(diversification_ranking.errors.count, "error") %> prohibited this diversification_ranking from being saved:</h2>

      <ul>
      <% diversification_ranking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :diversification_desc %>
    <%= form.text_field :diversification_desc %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
