<h1>Editing Diversification Ranking</h1>

<%= render 'form', diversification_ranking: @diversification_ranking %>

<%= link_to 'Show', @diversification_ranking %> |
<%= link_to 'Back', diversification_rankings_path %>
