<p id="notice"><%= notice %></p>

<h1>Diversification Rankings</h1>

<table>
  <thead>
    <tr>
      <th>Diversification desc</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @diversification_rankings.each do |diversification_ranking| %>
      <tr>
        <td><%= diversification_ranking.diversification_desc %></td>
        <td><%= link_to 'View', diversification_ranking %></td>
        <td><%= link_to 'Edit', edit_diversification_ranking_path(diversification_ranking) %></td>
        <td><%= link_to 'Delete', diversification_ranking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Diversification Ranking', new_diversification_ranking_path %>
