<p id="notice"><%= notice %></p>

<p>
  <strong>Diversification desc:</strong>
  <%= @diversification_ranking.diversification_desc %>
</p>

<%= link_to 'Edit', edit_diversification_ranking_path(@diversification_ranking) %> |
<%= link_to 'Back', diversification_rankings_path %>
