<%= form_with(model: loc_and_fac_ranking, local: true) do |form| %>
  <% if loc_and_fac_ranking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(loc_and_fac_ranking.errors.count, "error") %> prohibited this loc_and_fac_ranking from being saved:</h2>

      <ul>
      <% loc_and_fac_ranking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :loc_and_fac_desc %>
    <%= form.text_field :loc_and_fac_desc %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
