<p id="notice"><%= notice %></p>

<h1>Loc And Fac Rankings</h1>

<table>
  <thead>
    <tr>
      <th>Loc and fac desc</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @loc_and_fac_rankings.each do |loc_and_fac_ranking| %>
      <tr>
        <td><%= loc_and_fac_ranking.loc_and_fac_desc %></td>
        <td><%= link_to 'View', loc_and_fac_ranking %></td>
        <td><%= link_to 'Edit', edit_loc_and_fac_ranking_path(loc_and_fac_ranking) %></td>
        <td><%= link_to 'Delete', loc_and_fac_ranking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Loc And Fac Ranking', new_loc_and_fac_ranking_path %>
