<p id="notice"><%= notice %></p>

<p>
  <strong>Loc and fac desc:</strong>
  <%= @loc_and_fac_ranking.loc_and_fac_desc %>
</p>

<%= link_to 'Edit', edit_loc_and_fac_ranking_path(@loc_and_fac_ranking) %> |
<%= link_to 'Back', loc_and_fac_rankings_path %>
