<%= form_with(model: real_estate_type, local: true) do |form| %>
  <% if real_estate_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(real_estate_type.errors.count, "error") %> prohibited this real_estate_type from being saved:</h2>

      <ul>
      <% real_estate_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :real_estate_type_desc %>
    <%= form.text_field :real_estate_type_desc %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
