<p id="notice"><%= notice %></p>

<h1>Real Estate Types</h1>

<table>
  <thead>
    <tr>
      <th>Real estate type desc</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @real_estate_types.each do |real_estate_type| %>
      <tr>
        <td><%= real_estate_type.real_estate_type_desc %></td>
        <td><%= link_to 'View', real_estate_type %></td>
        <td><%= link_to 'Edit', edit_real_estate_type_path(real_estate_type) %></td>
        <td><%= link_to 'Delete', real_estate_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Real Estate Type', new_real_estate_type_path %>
