<p id="notice"><%= notice %></p>

<p>
  <strong>Real estate type desc:</strong>
  <%= @real_estate_type.real_estate_type_desc %>
</p>

<%= link_to 'Edit', edit_real_estate_type_path(@real_estate_type) %> |
<%= link_to 'Back', real_estate_types_path %>
