
<%= form_with(model: income_statement, local: true) do |form| %>
  <% if income_statement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(income_statement.errors.count, "error") %> prohibited this income_statement from being saved:</h2>

      <ul>
      <% income_statement.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<form>
  <div onload="shows_form_part(1)">

    <div id="form_part1">
      <div class="row">
        <div class="col-md-2">
         <%= form.label :stmt_year, "Statement Year:" %></div>
         <div class="col-sm-2" align="right">
          <%= form.number_field :stmt_year %></div>
      </div>

      <div class="row">
        <div class="col-md-2">
          <%= form.label :total_sales, "Total Sales:" %></div>
        <div class="col-sm-2">$
          <%= form.text_field :total_sales %></div>
        <div class="col-sm-2">
          <a data-toggle="tooltip" data-placement="Right" title="Total sales for each period. Please enter sales for the past 4 years, the remaining entries will only be for the past 3 years.">?</a></div>
      </div>

      <div class="row">
        <div class="col-md-2">
          <%= form.label :pretax_profit, "Pre-Tax Profit:" %></div>
        <div class="col-sm-2">$
          <%= form.text_field :pretax_profit %></div>
        <div class="col-sm-2">
          <a data-toggle="tooltip" data-placement="Right" title="Name of the business.">?</a></div>
      </div>

      <div class="row">
        <div class="col-md-2">
          <%= form.label :partner_comp, "Partner Compensation:" %></div>
        <div class="col-sm-2">$
          <%= form.text_field :partner_comp %></div>
        <div class="col-sm-2">
          <a data-toggle="tooltip" data-placement="Right" title="Does not include draws, only compensation listed on the income and expense portion of the tax return or income statement.">?</a></div>
      </div>

      <div class="row">
        <div class="col-md-2">
          <%= form.label :dep_an_am , "Depreciation & Amortization:"%></div>
        <div class="col-sm-2">$
          <%= form.text_field :dep_an_am %></div>
        <div class="col-sm-2">
          <a data-toggle="tooltip" data-placement="Right" title="Depreciation is usually on the first page of your tax return, amortization (if any) could be on a schedule later in the return.">?</a></div>
      </div>

      <div class="row">
        <div class="col-md-2">
          <%= form.label :interest_exp , "Interest Expense:"%></div>
        <div class="col-sm-2">$
          <%= form.text_field :interest_exp %></div>
        <div class="col-sm-2">
          <a data-toggle="tooltip" data-placement="Right" title="Interest paid on debt. Should not include interest on floor plans or lines of credit used to run the business.">?</a></div>
      </div>

      <div class="row">
        <div class="col-md-2">
          <%= form.label :non_rec_exp , "Non-Typical Expenses:"%></div>
        <div class="col-sm-2">$
          <%= form.text_field :non_rec_exp %></div>
        <div class="col-sm-2">
          <a data-toggle="tooltip" data-placement="Right" title="Non-typical expense. Examples include extraordinary legal fees from a lawsuit, accounting fees from an IRS audit, above average write-offs, etc. Should not include cell phone bills, health insurance cost for owners. A negative entry should be made for income such as a gain on the sale of equipment or other income that will not transfer to a buyer. Please explain this entry below.">?</a></div>
      </div>

      <div class="row">
        <div class="col-md-2">
          <%= form.label :own_veh_exp ,"Owner's Vehicle Expense:" %></div>
        <div class="col-sm-2">$
          <%= form.text_field :own_veh_exp %></div>
        <div class="col-sm-2">
          <a data-toggle="tooltip" data-placement="Right" title="Auto expense paid by the business but not related to business activities and solely for the Owner's benefit. Note: most businesses need a vehicle, computer and cell phone. Only add what is truly non-essential.">?</a></div>
      </div>

      <div class="row">
        <div class="col-md-2">
          <%= form.label :own_insurance_exp, "Owner's Insurance Expense:" %></div>
        <div class="col-sm-2">$
          <%= form.text_field :own_insurance_exp %></div>
        <div class="col-sm-2">
          <a data-toggle="tooltip" data-placement="Right" title="Example; auto insurance on non-essential vehicles, key man insurance for partners, etc.">?</a></div>
      </div>
      <% if current_user.is_broker? %>
      <div class="row">
        <div class="col-md-2">
          <%= form.label :income_stmt_status_id , "Income Statement Status:" %></div>
        <div class="col-sm-2">
          <%= form.collection_select :income_stmt_status_id, IncomeStmtStatus.all, :id, :stmt_status_desc %></div>
      </div>
        <% end %>
      <div class="row">
        <div class="col-md-2">
          <%= form.label :owners_travel_exp , "Owner's Travel Expense:"%></div>
        <div class="col-sm-2">$
          <%= form.text_field :owners_travel_exp %></div>
        <div class="col-sm-2">
          <a data-toggle="tooltip" data-placement="Right" title="Travel expense paid by the business but solely for the Owners leisure.">?</a></div>
      </div>

    <div class="row">
      <div class="col-md-2">
        <%= form.label :sal_adj , "Sales Adjustment:"%></div>
      <div class="col-sm-2">$
        <%= form.text_field :sal_adj %></div>
      <div class="col-sm-2">
        <a data-toggle="tooltip" data-placement="Right" title="List the annual salary for family members/partners etc., who were paid by the business but do not actually work in the business. Use a negative entry for a market wage for others who work in the business without pay or to replace more than one owner. Salary.com lists market wage for many different types of positions.">?</a></div>
    </div>

      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-sm-2" align="right">1 of 3</div>
      </div>

    <div align="center">
      <input type="button" onclick="shows_form_part(2)" value="Next">
    </div>

    </div>

    <div id="form_part2" style="display: none;">
      <div class="row">
        <div class="col-md-2">
          <%= form.label :own_retirement , "Owner's Retirement:"%></div>
        <div class="col-sm-2">$
          <%= form.text_field :own_retirement %></div>
        <div class="col-sm-2">
          <a data-toggle="tooltip" data-placement="Right" title="Add the amount of any 401K or similar cost the business paid for the benefit of the owner.">?</a></div>
      </div>

    <div class="row">
      <div class="col-md-2">
        <%= form.label :cost_of_goods , "Cost Of Goods:"%></div>
      <div class="col-sm-2">$
        <%= form.text_field :cost_of_goods %></div>
    </div>


    <div class="row">
      <div class="col-md-2">
        <%= form.label :payroll , "Payroll:"%></div>
      <div class="col-sm-2">
        $ <%= form.text_field :payroll %></div>
    </div>

    <div class="row">
      <div class="col-md-2">
        <%= form.label :maintenance , "Maintenance:"%></div>
      <div class="col-sm-2">$
        <%= form.text_field :maintenance %></div>
    </div>

    <div class="row">
      <div class="col-md-2">
        <%= form.label :bad_debt , "Bad Debt:"%></div>
      <div class="col-sm-2">$
        <%= form.text_field :bad_debt %></div>
    </div>

    <div class="row">
      <div class="col-md-2">
        <%= form.label :rent , "Rent:"%></div>
      <div class="col-sm-2">$
        <%= form.text_field :rent %></div>
    </div>

    <div class="row">
      <div class="col-md-2">
        <%= form.label :tax_and_lic , "Tax & Licensing:"%></div>
      <div class="col-sm-2">$
        <%= form.text_field :tax_and_lic %></div>
      </div>

    <div class="row">
      <div class="col-md-2">
        <%= form.label :advertising, "Advertising:" %></div>
      <div class="col-sm-2">$
        <%= form.text_field :advertising %></div>
    </div>

    <div class="row">
      <div class="col-md-2">
        <%= form.label :pension_profit_share , "Pension & Profit Share:"%></div>
      <div class="col-sm-2">$
        <%= form.text_field :pension_profit_share %></div>
    </div>

    <div class="row">
      <div class="col-md-2">
        <%= form.label :emp_benefit_cost, "Employee Benefit & Cost:" %></div>
      <div class="col-sm-2">$
        <%= form.text_field :emp_benefit_cost %></div>
    </div>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-sm-2" align="right">2 of 3</div>
      </div>
    <div align="center">
        <input type="button" onclick="shows_form_part(1)" value="Back">
        <input type="button" onclick="shows_form_part(3)" value="Next">
    </div>

    </div>

    <div id="form_part3" style="display: none;">
      <div class="row">
        <div class="col-md-2">
          <%= form.label :bank_cc_fee , "Bank & Credit Card Fee:"%></div>
        <div class="col-sm-2">$
          <%= form.text_field :bank_cc_fee %></div>
      </div>

    <div class="row">
      <div class="col-md-2">
        <%= form.label :insurance_cost , "Insurance Cost:"%></div>
      <div class="col-sm-2">$
        <%= form.text_field :insurance_cost %></div>
    </div>

    <div class="row">
      <div class="col-md-2">
        <%= form.label :legal_acct_exp , "Legal & Accounting Expense:"%></div>
      <div class="col-sm-2">$
        <%= form.text_field :legal_acct_exp %></div>
    </div>

    <div class="row">
      <div class="col-md-2">
        <%= form.label :outside_exp , "Outside Expenses:"%></div>
      <div class="col-sm-2">$
        <%= form.text_field :outside_exp %></div>
    </div>


    <div class="row">
      <div class="col-md-2">
        <%= form.label :utility , "Utility Expense:"%></div>
      <div class="col-sm-2">$
        <%= form.text_field :utility %></div>
    </div>

    <div class="row">
      <div class="col-md-2">
        <%= form.label :veh_exp , "Vehicle Expense:"%></div>
      <div class="col-sm-2">$
        <%= form.text_field :veh_exp %></div>
    </div>

    <div class="row">
      <div class="col-md-2">
        <%= form.label :est_growth_rate , "Estimated Growth Rate:"%></div>
      <div class="col-sm-2" align="right">
        <%= form.text_field :est_growth_rate %></div>
      <div class="col-sm-2">
        <a data-toggle="tooltip" data-placement="Right" title="Enter your anticipated growth (or decline) in total revenue for the next few years. Ex: 3% or -1%, could also be 0.">?</a></div>
    </div>

    <div class="row">
      <div class="col-md-2">
        <%= form.label :total_sales_com, "Total Sales Compensation:" %></div>
      <div class="col-sm-2">$
        <%= form.text_field :total_sales_com%></div>
    </div>


    <div class="row">
      <div class="col-md-2">
        <%= form.label :pretax_profit_com, "Pre-Tax Profit Comd:" %></div>
      <div class="col-sm-2">$
        <%= form.text_field :pretax_profit_com %></div>
    </div>

    <div class="row">
      <div class="col-md-2">
        <%= form.label :stmt_comment , "Statement Comments:"%></div>
      <div class="col-sm-2">
        <%= form.text_area :stmt_comment %></div>
      <div class="col-sm-2">
        <a data-toggle="tooltip" data-placement="Right" title="Please comment as needed including a description of any non-recurring or unusual expense/income.">?</a></div>
    </div>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-sm-2" align="right">3 of 3</div>
      </div>

      <div onsubmit="return checkForm(this);">
        <div class="row">
          <div align="center">
            <a class="TermCon" href="http://colepartners.net/wp-content/uploads/2013/11/1A-Buyer-NDA.pdf">
              Agreed to Term and Conditions:  </a><input type="checkbox" name="terms">
            <a data-toggle="tooltip" data-placement="Right"
               title="Click on 'Agreed to Term and Conditions:' to view term and conditions document">?</a>
          </div>
        </div>

      </div>

    <div align="center">
      <input type="button" onclick="shows_form_part(2)" value="Back">
      <input type="button" onclick="submit()" value="Save/Submit">
    </div>

    </div>

  </div>
  </form>

<% end %>
