<nav1>
  <ul>
    <% if current_user.get_org || current_user.is_broker? %>
      <li>  <%= link_to 'Business Information', controller: "organizations", action: "edit", id:@income_statement.organization.id%> </li>
      <% if @income_statement.organization.balance_sheets %>
      <li><%= link_to 'Balance Sheet', controller: "balance_sheets", action: "edit", id: @income_statement.organization.balance_sheets[0] %></li>
    <% else %>
      <li>  <%= link_to 'Balance Sheet', controller: "balance_sheets", action: "new", id: @income_statement.organization.user %> </li>
      <% end %>
      <% if @income_statement.organization.get_stmts != [] %>
        <li> <%= link_to 'Income Statement', controller: "organizations", action: "org_statements", id: @income_statement.organization.id %></li>
      <% else %>
        <li>  <%= link_to 'Income Statement', controller: "income_statements", action: "new", id: @income_statement.organization.user %> </li>
    <% end %>
      <% if current_user.is_broker? && @income_statement.organization.appraisal_calcs[0] %>
        <li>  <%= link_to 'Appraisal', controller: "appraisal_calcs", action: "edit", id: @income_statement.organization.appraisal_calcs[0] %> </li>
      <% end %>
      <li>
        <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
      </li>
      <% end %>
  </ul>
</nav1>

<h2>Editing Income Statement</h2>


<%= render 'form', income_statement: @income_statement %>
