<p id="notice"><%= notice %></p>

<h1>Income Statements</h1>

<table>
  <thead>
    <tr>
      <th>Stmt year</th>
      <th>Total sales</th>
      <th>Pretax profit</th>
      <th>Partner comp</th>
      <th>Dep an am</th>
      <th>Interest exp</th>
      <th>Non rec exp</th>
      <th>Own veh exp</th>
      <th>Own insurance exp</th>
      <th>Income stmt status</th>
      <th>Owners travel exp</th>
      <th>Sal adj</th>
      <th>Own retirement</th>
      <th>Cost of goods</th>
      <th>Organization</th>
      <th>Payroll</th>
      <th>Maintenance</th>
      <th>Bad debt</th>
      <th>Rent</th>
      <th>Tax and lic</th>
      <th>Advertising</th>
      <th>Pension profit share</th>
      <th>Emp benefit cost</th>
      <th>Bank cc fee</th>
      <th>Insurance cost</th>
      <th>Legal acct exp</th>
      <th>Outside exp</th>
      <th>Utility</th>
      <th>Veh exp</th>
      <th>Est growth rate</th>
      <th>Interim Period Total Sales</th>
      <th>Interim Period Pretax Profit</th>
      <th>Stmt comment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @income_statements.each do |income_statement| %>
      <tr>
        <td><%= income_statement.stmt_year %></td>
        <td><%= income_statement.total_sales %></td>
        <td><%= income_statement.pretax_profit %></td>
        <td><%= income_statement.partner_comp %></td>
        <td><%= income_statement.dep_an_am %></td>
        <td><%= income_statement.interest_exp %></td>
        <td><%= income_statement.non_rec_exp %></td>
        <td><%= income_statement.own_veh_exp %></td>
        <td><%= income_statement.own_insurance_exp %></td>
        <td><%= income_statement.income_stmt_status.stmt_status_desc %></td>
        <td><%= income_statement.owners_travel_exp %></td>
        <td><%= income_statement.sal_adj %></td>
        <td><%= income_statement.own_retirement %></td>
        <td><%= income_statement.cost_of_goods %></td>
        <td><%= income_statement.organization.org_name %></td>
        <td><%= income_statement.payroll %></td>
        <td><%= income_statement.maintenance %></td>
        <td><%= income_statement.bad_debt %></td>
        <td><%= income_statement.rent %></td>
        <td><%= income_statement.tax_and_lic %></td>
        <td><%= income_statement.advertising %></td>
        <td><%= income_statement.pension_profit_share %></td>
        <td><%= income_statement.emp_benefit_cost %></td>
        <td><%= income_statement.bank_cc_fee %></td>
        <td><%= income_statement.insurance_cost %></td>
        <td><%= income_statement.legal_acct_exp %></td>
        <td><%= income_statement.outside_exp %></td>
        <td><%= income_statement.utility %></td>
        <td><%= income_statement.veh_exp %></td>
        <td><%= income_statement.est_growth_rate %></td>
        <td><%= income_statement.total_sales%></td>
        <td><%= income_statement.pretax_profit%></td>
        <td><%= income_statement.stmt_comment %></td>
        <td><%= link_to 'View', income_statement %></td>
        <td><%= link_to 'Edit', edit_income_statement_path(income_statement) %></td>
        <td><%= link_to 'Delete', income_statement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Income Statement', new_income_statement_path %>
