<nav1>
  <ul>
    <% if current_user.get_org || current_user.is_broker? %>
      <li>  <%= link_to 'Business Information', controller: "organizations", action: "edit", id: current_user.get_org.id%> </li>
      <% if current_user.get_org.balance_sheets %>
        <li><%= link_to 'Balance Sheet', controller: "balance_sheets", action: "edit", id: current_user.get_org.balance_sheets[0] %></li>
      <% else %>
        <li>  <%= link_to 'Balance Sheet', controller: "balance_sheets", action: "new", id: current_user.get_org.user %> </li>
      <% end %>
      <% if current_user.get_org.get_stmts != [] %>
        <li> <%= link_to 'Income Statement', controller: "organizations", action: "org_statements", id: current_user.get_org.id %></li>
      <% else %>
        <li>  <%= link_to 'Income Statement', controller: "income_statements", action: "new", id: current_user.get_org.user %> </li>
      <% end %>
      <% if current_user.is_broker? && current_user.get_org.appraisal_calcs[0] %>
        <li>  <%= link_to 'Appraisal', controller: "appraisal_calcs", action: "edit", id: @income_statement.organization.appraisal_calcs[0] %> </li>
      <% end %>
      <li>
        <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
      </li>
    <% end %>
  </ul>
</nav1>
</nav1>
<h3>Enter your Business Income Statement Information</h3>
<%= render 'form', income_statement: @income_statement %>
