<p id="notice"><%= notice %></p>
<nav1>
  <ul>
    <% if current_user.get_org %>
  <li>  <%= link_to 'Business Information', controller: "organizations", action: "edit", id: current_user.get_org.id%> </li>
      <% if current_user.get_org.get_balance_sheet %>
    <li><%= link_to 'Balance Sheet', controller: "balance_sheets", action: "edit", id: current_user.get_org.get_balance_sheet %></li>
      <% else %>
    <li>    <%= link_to 'Balance Sheet', controller: "balance_sheets", action: "new", id: current_user.get_org.get_balance_sheet %> </li>
        <%end %>
      <% if current_user.get_org.get_stmts != [] %>
      <li> <%= link_to 'Income Statement', controller: "organizations", action: "org_statements", id: current_user.get_org.id %></li>
      <% else %>
      <li>  <%= link_to 'Income Statement', controller: "income_statements", action: "new", id: current_user.get_org.get_stmts %> </li>
      <%end %>
      <% else %>
    <li>  <%= link_to 'Business Information' , controller: "organizations", action: "new", id: current_user%> </li>
      <% end %>
  </ul>
</nav1>

<p>
  <strong>Statement Year:</strong>
  <%= @income_statement.stmt_year %>
</p>

<p>
  <strong>Total Sales:</strong>
  <%= @income_statement.total_sales %>
</p>

<p>
  <strong>Pre-Tax Profit:</strong>
  <%= @income_statement.pretax_profit %>
</p>

<p>
  <strong>Partner Compensation:</strong>
  <%= @income_statement.partner_comp %>
</p>

<p>
  <strong>Depreciation and Amortization:</strong>
  <%= @income_statement.dep_an_am %>
</p>

<p>
  <strong>Interest Expense:</strong>
  <%= @income_statement.interest_exp %>
</p>

<p>
    <strong>Non-Typical Expenses:</strong>
  <%= @income_statement.non_rec_exp %>
</p>

<p>
  <strong>Owner's Vehicle Expense:</strong>
  <%= @income_statement.own_veh_exp %>
</p>

<p>
  <strong>Owner's Insurance Expense:</strong>
  <%= @income_statement.own_insurance_exp %>
</p>


<p>
  <strong>Owner's Travel Expense:</strong>
  <%= @income_statement.owners_travel_exp %>
</p>

<p>
  <strong>Sales Adjustment:</strong>
  <%= @income_statement.sal_adj %>
</p>

<p>
  <strong>Owner's Retirement:</strong>
  <%= @income_statement.own_retirement %>
</p>

<p>
  <strong>Cost of Goods:</strong>
  <%= @income_statement.cost_of_goods %>
</p>

<p>
  <strong>Organization:</strong>
  <%= @income_statement.organization.org_name %>
</p>

<p>
  <strong>Payroll:</strong>
  <%= @income_statement.payroll %>
</p>

<p>
  <strong>Maintenance:</strong>
  <%= @income_statement.maintenance %>
</p>

<p>
  <strong>Bad Debt:</strong>
  <%= @income_statement.bad_debt %>
</p>

<p>
  <strong>Rent:</strong>
  <%= @income_statement.rent %>
</p>

<p>
  <strong>Tax and Licensing:</strong>
  <%= @income_statement.tax_and_lic %>
</p>

<p>
  <strong>Advertising:</strong>
  <%= @income_statement.advertising %>
</p>

<p>
  <strong>Pension Profit Share:</strong>
  <%= @income_statement.pension_profit_share %>
</p>

<p>
  <strong>Employee Benefit Cost:</strong>
  <%= @income_statement.emp_benefit_cost %>
</p>

<p>
  <strong>Bank and Credit Card Fees:</strong>
  <%= @income_statement.bank_cc_fee %>
</p>

<p>
  <strong>Insurance Cost:</strong>
  <%= @income_statement.insurance_cost %>
</p>

<p>
  <strong>Legal and Accounting Expenses:</strong>
  <%= @income_statement.legal_acct_exp %>
</p>

<p>
  <strong>Outside Expenses:</strong>
  <%= @income_statement.outside_exp %>
</p>

<p>
  <strong>Utilities:</strong>
  <%= @income_statement.utility %>
</p>

<p>
  <strong>Vehicle Expense:</strong>
  <%= @income_statement.veh_exp %>
</p>

<p>
  <strong>Estimated Growth Rate:</strong>
  <%= @income_statement.est_growth_rate %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @income_statement.stmt_comment %>
</p>
