<%= form_with(model: balance_sheet_status, local: true) do |form| %>
  <% if balance_sheet_status.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(balance_sheet_status.errors.count, "error") %> prohibited this balance_sheet_status from being saved:</h2>

      <ul>
      <% balance_sheet_status.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :sheet_desc %>
    <%= form.text_field :sheet_desc %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
