<h1>Editing Balance Sheet Status</h1>

<%= render 'form', balance_sheet_status: @balance_sheet_status %>

<%= link_to 'Show', @balance_sheet_status %> |
<%= link_to 'Back', balance_sheet_statuses_path %>
