<p id="notice"><%= notice %></p>

<h1>Balance Sheet Statuses</h1>

<table>
  <thead>
    <tr>
      <th>Sheet desc</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @balance_sheet_statuses.each do |balance_sheet_status| %>
      <tr>
        <td><%= balance_sheet_status.sheet_desc %></td>
        <td><%= link_to 'View', balance_sheet_status %></td>
        <td><%= link_to 'Edit', edit_balance_sheet_status_path(balance_sheet_status) %></td>
        <td><%= link_to 'Delete', balance_sheet_status, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Balance Sheet Status', new_balance_sheet_status_path %>
