<p id="notice"><%= notice %></p>

<p>
  <strong>Sheet desc:</strong>
  <%= @balance_sheet_status.sheet_desc %>
</p>

<%= link_to 'Edit', edit_balance_sheet_status_path(@balance_sheet_status) %> |
<%= link_to 'Back', balance_sheet_statuses_path %>
