<%= form_with(model: org_status, local: true) do |form| %>
  <% if org_status.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(org_status.errors.count, "error") %> prohibited this org_status from being saved:</h2>

      <ul>
      <% org_status.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :status_desc %>
    <%= form.text_field :status_desc %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
