<p id="notice"><%= notice %></p>

<h1>Org Statuses</h1>

<table>
  <thead>
    <tr>
      <th>Status desc</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @org_statuses.each do |org_status| %>
      <tr>
        <td><%= org_status.status_desc %></td>
        <td><%= link_to 'View', org_status %></td>
        <td><%= link_to 'Edit', edit_org_status_path(org_status) %></td>
        <td><%= link_to 'Delete', org_status, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Org Status', new_org_status_path %>
