<p id="notice"><%= notice %></p>

<p>
  <strong>Status desc:</strong>
  <%= @org_status.status_desc %>
</p>

<%= link_to 'Edit', edit_org_status_path(@org_status) %> |
<%= link_to 'Back', org_statuses_path %>
