<%= form_with(model: stakeholder_rank, local: true) do |form| %>
  <% if stakeholder_rank.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(stakeholder_rank.errors.count, "error") %> prohibited this stakeholder_rank from being saved:</h2>

      <ul>
      <% stakeholder_rank.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :stakeholder_rank_desc %>
    <%= form.text_field :stakeholder_rank_desc %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
