<p id="notice"><%= notice %></p>

<h1>Stakeholder Ranks</h1>

<table>
  <thead>
    <tr>
      <th>Stakeholder rank desc</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stakeholder_ranks.each do |stakeholder_rank| %>
      <tr>
        <td><%= stakeholder_rank.stakeholder_rank_desc %></td>
        <td><%= link_to 'View', stakeholder_rank %></td>
        <td><%= link_to 'Edit', edit_stakeholder_rank_path(stakeholder_rank) %></td>
        <td><%= link_to 'Delete', stakeholder_rank, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Stakeholder Rank', new_stakeholder_rank_path %>
