<p id="notice"><%= notice %></p>

<p>
  <strong>Stakeholder rank desc:</strong>
  <%= @stakeholder_rank.stakeholder_rank_desc %>
</p>

<%= link_to 'Edit', edit_stakeholder_rank_path(@stakeholder_rank) %> |
<%= link_to 'Back', stakeholder_ranks_path %>
