<%= form_with(model: financial_source_type, local: true) do |form| %>
  <% if financial_source_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(financial_source_type.errors.count, "error") %> prohibited this financial_source_type from being saved:</h2>

      <ul>
      <% financial_source_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :financial_source_type_desc %>
    <%= form.text_field :financial_source_type_desc %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
