<h1>Editing Financial Source Type</h1>

<%= render 'form', financial_source_type: @financial_source_type %>

<%= link_to 'Show', @financial_source_type %> |
<%= link_to 'Back', financial_source_types_path %>
