<p id="notice"><%= notice %></p>

<h1>Financial Source Types</h1>

<table>
  <thead>
    <tr>
      <th>Financial source type desc</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @financial_source_types.each do |financial_source_type| %>
      <tr>
        <td><%= financial_source_type.financial_source_type_desc %></td>
        <td><%= link_to 'View', financial_source_type %></td>
        <td><%= link_to 'Edit', edit_financial_source_type_path(financial_source_type) %></td>
        <td><%= link_to 'Delete', financial_source_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Financial Source Type', new_financial_source_type_path %>
