<p id="notice"><%= notice %></p>

<p>
  <strong>Financial source type desc:</strong>
  <%= @financial_source_type.financial_source_type_desc %>
</p>

<%= link_to 'Edit', edit_financial_source_type_path(@financial_source_type) %> |
<%= link_to 'Back', financial_source_types_path %>
