<%= form_with(model: competition_ranking, local: true) do |form| %>
  <% if competition_ranking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(competition_ranking.errors.count, "error") %> prohibited this competition_ranking from being saved:</h2>

      <ul>
      <% competition_ranking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :competition_desc %>
    <%= form.text_field :competition_desc %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
