<p id="notice"><%= notice %></p>

<h1>Competition Rankings</h1>

<table>
  <thead>
    <tr>
      <th>Competition desc</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @competition_rankings.each do |competition_ranking| %>
      <tr>
        <td><%= competition_ranking.competition_desc %></td>
        <td><%= link_to 'View', competition_ranking %></td>
        <td><%= link_to 'Edit', edit_competition_ranking_path(competition_ranking) %></td>
        <td><%= link_to 'Delete', competition_ranking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Competition Ranking', new_competition_ranking_path %>
