<p id="notice"><%= notice %></p>

<p>
  <strong>Competition desc:</strong>
  <%= @competition_ranking.competition_desc %>
</p>

<%= link_to 'Edit', edit_competition_ranking_path(@competition_ranking) %> |
<%= link_to 'Back', competition_rankings_path %>
