<%= form_with(model: ownership_type, local: true) do |form| %>
  <% if ownership_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ownership_type.errors.count, "error") %> prohibited this ownership_type from being saved:</h2>

      <ul>
      <% ownership_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :ownership_type_desc %>
    <%= form.text_field :ownership_type_desc %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
