<p id="notice"><%= notice %></p>

<h1>Ownership Types</h1>

<table>
  <thead>
    <tr>
      <th>Ownership type desc</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ownership_types.each do |ownership_type| %>
      <tr>
        <td><%= ownership_type.ownership_type_desc %></td>
        <td><%= link_to 'View', ownership_type %></td>
        <td><%= link_to 'Edit', edit_ownership_type_path(ownership_type) %></td>
        <td><%= link_to 'Delete', ownership_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ownership Type', new_ownership_type_path %>
