<p id="notice"><%= notice %></p>

<p>
  <strong>Ownership type desc:</strong>
  <%= @ownership_type.ownership_type_desc %>
</p>

<%= link_to 'Edit', edit_ownership_type_path(@ownership_type) %> |
<%= link_to 'Back', ownership_types_path %>
