<%= form_with(model: stakeholder, local: true) do |form| %>
  <% if stakeholder.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(stakeholder.errors.count, "error") %> prohibited this stakeholder from being saved:</h2>

      <ul>
      <% stakeholder.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :stakeholder_status_id %>
    <%= form.text_field :stakeholder_status_id %>
  </div>

  <div class="field">
    <%= form.label :stakeholder_fname %>
    <%= form.text_field :stakeholder_fname %>
  </div>

  <div class="field">
    <%= form.label :stakeholder_lname %>
    <%= form.text_field :stakeholder_lname %>
  </div>

  <div class="field">
    <%= form.label :stakeholder_phone %>
    <%= form.text_field :stakeholder_phone %>
  </div>

  <div class="field">
    <%= form.label :stakeholder_email %>
    <%= form.text_field :stakeholder_email %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
