<p id="notice"><%= notice %></p>

<h1>Stakeholders</h1>

<table>
  <thead>
    <tr>
      <th>Stakeholder status</th>
      <th>Stakeholder fname</th>
      <th>Stakeholder lname</th>
      <th>Stakeholder phone</th>
      <th>Stakeholder email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stakeholders.each do |stakeholder| %>
      <tr>
        <td><%= stakeholder.stakeholder_status.stakeholder_status_desc %></td>
        <td><%= stakeholder.stakeholder_fname %></td>
        <td><%= stakeholder.stakeholder_lname %></td>
        <td><%= stakeholder.stakeholder_phone %></td>
        <td><%= stakeholder.stakeholder_email %></td>
        <td><%= link_to 'View', stakeholder %></td>
        <td><%= link_to 'Edit', edit_stakeholder_path(stakeholder) %></td>
        <td><%= link_to 'Delete', stakeholder, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Stakeholder', new_stakeholder_path %>
