<p id="notice"><%= notice %></p>

<p>
  <strong>Stakeholder status:</strong>
  <%= @stakeholder.stakeholder_status.stakeholder_status_desc %>
</p>

<p>
  <strong>Stakeholder fname:</strong>
  <%= @stakeholder.stakeholder_fname %>
</p>

<p>
  <strong>Stakeholder lname:</strong>
  <%= @stakeholder.stakeholder_lname %>
</p>

<p>
  <strong>Stakeholder phone:</strong>
  <%= @stakeholder.stakeholder_phone %>
</p>

<p>
  <strong>Stakeholder email:</strong>
  <%= @stakeholder.stakeholder_email %>
</p>

<%= link_to 'Edit', edit_stakeholder_path(@stakeholder) %> |
<%= link_to 'Back', stakeholders_path %>
