<p id="notice"><%= notice %></p>

<h1>User Roles</h1>

<table>
  <thead>
    <tr>
      <th>User role desc</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_roles.each do |user_role| %>
      <tr>
        <td><%= user_role.user_role_desc %></td>
        <td><%= link_to 'View', user_role %></td>
        <td><%= link_to 'Edit', edit_user_role_path(user_role) %></td>
        <td><%= link_to 'Delete', user_role, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User Role', new_user_role_path %>
