<p id="notice"><%= notice %></p>

<p>
  <strong>User role desc:</strong>
  <%= @user_role.user_role_desc %>
</p>

<%= link_to 'Edit', edit_user_role_path(@user_role) %> |
<%= link_to 'Back', user_roles_path %>
