<%= appraisal_calc = @appraisal_calc %>
<%= form_with(model: appraisal_calc, local: true) do |form| %>

  <div class="main">
  <h1 id="summary"><br>Summary</h1>
  <table>
    <tr>
      <th colspan="4"></th>
    </tr>
    <tr>
      <td>Subject Entity:</td>
      <td><%= @appraisal_calc.organization.org_name %></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td><%= @appraisal_calc.organization.org_address %></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td><%= @appraisal_calc.organization.org_city %></td>
      <td><%= @appraisal_calc.organization.state.state_name %></td>
      <td><%= @appraisal_calc.organization.org_zip %></td>
    </tr>
    <tr>
      <td>Founded:</td>
      <td><%= @appraisal_calc.organization.founding_year %></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Majority Owner:</td>
      <td>Jane Doe</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Form of Ownership:</td>
      <td><%= @appraisal_calc.organization.ownership_type.ownership_type_desc %></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Type of Business:</td>
      <td><%= @appraisal_calc.business_type.business_type_desc %></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Assets:</td>
      <td>Typical Industry Assets</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Interest Being Calculated:</td>
      <td>100%</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Interest Characteristics:</td>
      <td>Controlling</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Standard of Value:</td>
      <td>Fair Market Value</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Premise of Value:</td>
      <td>Going Concern</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>NAICS Provided:</td>
      <td><%= @appraisal_calc.organization.prim_naics %></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Fiscal Year End:</td>
      <td>31-Dec</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Facility:</td>
      <td><%= @appraisal_calc.organization.real_estate_type.real_estate_type_desc %></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Employees</td>
      <td>6</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Effective Date:</td>
      <td>December 31, <%= @appraisal_calc.report_date.year - 1 %></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Intended Use:</td>
      <td>Contemplation of Sale</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Intended User:</td>
      <td>Jane Doe</td>
      <td></td>
      <td></td>
    </tr>
  </table>
  <br>

  <h1 id="intperiod"><br>Interim Period</h1>
  <table>
    <tr>
      <th>Number of Months: 3</th>
      <th></th>
      <th>2017</th>
      <th>Variance</th>
      <th>Change</th>
      <th>% of Annual</th>
    </tr>
    <tr>
      <td>Revenue-Interim Period</td>
      <td></td>
      <td>$181,205</td>
      <td>$20,240</td>
      <td>11%</td>
      <td>23%</td>
    </tr>
    <tr>
      <td>Revenue-Projected & Historical</td>
      <td>$859,239</td>
      <td>$772,908</td>
      <td>$86,331</td>
      <td>11%</td>
      <td></td>
    </tr>
    <tr>
      <td>Profit/Loss-Projected & Historical</td>
      <td>$89,014</td>
      <td>$52,321</td>
      <td>$36,693</td>
      <td>70%</td>
      <td></td>
    </tr>
    <tr>
      <td class="clearbot">Months: January through March</td>
    </tr>
  </table>
  <br>

  <h1 id="histbal" class="pad"><br>Historical Balance Sheet Adjusted to Owner's Opinion of Fair Market Value</h1>
  <table>
    <tr>
      <th></th>
      <th>12/31/2017</th>
      <th>Adjustment</th>
      <th>FMV</th>
    </tr>
    <tr>
      <td colspan="4"><b><i>Assets Included in Sale</i></b></td>
    </tr>
    <% balance_sheet = @appraisal_calc.get_balance_sheet %>
    <% partial_stmt = @appraisal_calc.get_partial_statement %>
    <% early_stmt = @appraisal_calc.get_earliest_statement %>
    <% middle_stmt = @appraisal_calc.get_middle_statement %>
    <% last_stmt = @appraisal_calc.get_last_statement %>
    <tr>
      <td>Cash on Hand</td>
      <td><%= number_to_currency(balance_sheet.cash_on_hand, negative_format: "(%u%n)") %> </td>
      <td>(<%= number_to_currency(-balance_sheet.calc_cash_adjustment, negative_format: "(%u%n)") %>)</td>
      <td>$0 </td>
    </tr>
    <tr>
      <td>Accounts Receivable</td>
      <td><%= number_to_currency(balance_sheet.accounts_r, negative_format: "(%u%n)") %> </td>
      <td>(<%= number_to_currency(-balance_sheet.calc_ar_adjustment, negative_format: "(%u%n)") %>)</td>
      <td>$0 </td>
    </tr>
    <tr class="strong-bottom">
      <td>Inventory</td>
      <td><%= number_to_currency(balance_sheet.inventory, negative_format: "(%u%n)") %></td>
      <td>(<%= number_to_currency(-balance_sheet.calc_inv_adjustment, negative_format: "(%u%n)") %>)</td>
      <td><%= number_to_currency(balance_sheet.inv_req, negative_format: "(%u%n)") %></td>
    </tr>
    <tr>
      <td>Total Current Assets</td>
      <td><%= number_to_currency(balance_sheet.cash_on_hand + balance_sheet.accounts_r + balance_sheet.inventory, negative_format: "(%u%n)")%> </td>
      <td>(<%= number_to_currency(-balance_sheet.total_current_asset_adjustment, negative_format: "(%u%n)") %>)</td>
      <td><%= number_to_currency(balance_sheet.cash_on_hand + balance_sheet.accounts_r + balance_sheet.inventory +
                  balance_sheet.total_current_asset_adjustment, negative_format: "(%u%n)") %> </td>
    </tr>
    <tr>
      <td class="clearrow" colspan="4"></td>
    </tr>
    <tr>
      <td>Furniture, Fixtures, Equip, Vehicles</td>
      <td><%= number_to_currency(balance_sheet.ffe_v, negative_format: "(%u%n)") %> </td>
      <td>(<%= number_to_currency(-balance_sheet.calc_ffev_adjustment, negative_format: "(%u%n)") %>)</td>
      <td><%= number_to_currency(balance_sheet.curr_ffe_v, negative_format: "(%u%n)") %> </td>
    </tr>
    <tr>
      <td>Real Estate (excluded from sale)</td>
      <td><%= number_to_currency(balance_sheet.real_estate_value, negative_format: "(%u%n)") %> </td>
      <td>(<%= number_to_currency(-balance_sheet.calc_estate_adjustment, negative_format: "(%u%n)") %>)</td>
      <td>$0 </td>
    </tr>
    <tr class="strong-bottom">
      <td>Total Depreciation/Amortization</td>
      <td>(<%= number_to_currency(-balance_sheet.calc_deprec_and_amort, negative_format: "(%u%n)") %>)</td>
      <td><%= number_to_currency(balance_sheet.calc_d_a_adjustment, negative_format: "(%u%n)") %> </td>
      <td>$0 </td>
    </tr>
    <tr>
      <td>Net Fixed Assets</td>
      <td><%= number_to_currency(balance_sheet.real_estate_value + balance_sheet.ffe_v +
          balance_sheet.calc_deprec_and_amort, negative_format: "(%u%n)") %> </td>
      <td>(<%= number_to_currency(-balance_sheet.total_fixed_asset_adjustment, negative_format: "(%u%n)") %>) </td>
      <td><%= number_to_currency(balance_sheet.real_estate_value + balance_sheet.ffe_v +
          balance_sheet.calc_deprec_and_amort + balance_sheet.total_fixed_asset_adjustment, negative_format: "(%u%n)") %> </td>
    </tr>
    <tr>
      <td class="clearrow" colspan="4"></td>
    </tr>
    <tr class="strong-bottom">
      <td>Other Assets</td>
      <td><%= number_to_currency(balance_sheet.other_asset, negative_format: "(%u%n)") %> </td>
      <td>(<%= number_to_currency(-balance_sheet.calc_other_asset_adjustment, negative_format: "(%u%n)") %>)</td>
      <td>$0 </td>
    </tr>
    <tr>
      <td>Total Assets</td>
      <td><%= number_to_currency(balance_sheet.total_asset, negative_format: "(%u%n)") %> </td>
      <td>(<%= number_to_currency(-balance_sheet.total_asset_adjustment, negative_format: "(%u%n)") %>)</td>
      <td><%= number_to_currency(balance_sheet.total_asset + balance_sheet.total_asset_adjustment, negative_format: "(%u%n)") %> </td>
    </tr>
    <tr>
      <td class="clearrow" colspan="4"></td>
    </tr>
    <tr>
      <td>Liabilities to be Cleared by Seller at Closing</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Accounts Payable</td>
      <td><%= number_to_currency(balance_sheet.accounts_p, negative_format: "(%u%n)") %> </td>
      <td>(<%= number_to_currency(-balance_sheet.calc_ap_adjustment, negative_format: "(%u%n)") %>)</td>
      <td>$0 </td>
    </tr>
    <tr>
      <td>Debt-Current &amp; Long-Term</td>
      <td><%= number_to_currency(balance_sheet.bank_debt, negative_format: "(%u%n)") %> </td>
      <td>(<%= number_to_currency(-balance_sheet.calc_debt_adjustment, negative_format: "(%u%n)") %>) </td>
      <td>$0 </td>
    </tr>
    <tr class="strong-bottom">
      <td>Other</td>
      <td><%= number_to_currency(balance_sheet.other_liability, negative_format: "(%u%n)") %> </td>
      <td>(<%= number_to_currency(-balance_sheet.calc_other_debt_adjustment, negative_format: "(%u%n)") %>)</td>
      <td>0 </td>
    </tr>
    <tr>
      <td>Total Liabilities</td>
      <td><%= number_to_currency(balance_sheet.total_liability, negative_format: "(%u%n)") %> </td>
      <td>(<%= number_to_currency(-balance_sheet.total_liabilities_adjustment, negative_format: "(%u%n)") %>)</td>
      <td>$0 </td>
    </tr>
    <tr>
      <td class="clearrow" colspan="4"></td>
    </tr>
    <tr>
      <td>Adjusted Net Asset Value of Business</td>
      <td></td>
      <td></td>
      <td><%= number_to_currency(@appraisal_calc.get_adjusted_net_value_of_business, negative_format: "(%u%n)") %></td>
    </tr>
    <tr>
      <td>Real Estate Value (Owner's Est.)</td>
      <td></td>
      <td></td>
      <td><%= number_to_currency(balance_sheet.real_estate_est, negative_format: "(%u%n)") %></td>
    </tr>
  </table>

  <br>

  <h1 id="histearn"><br>Historical Earnings Adjusted</h1>

  <table>
    <tr>
      <th></th>
      <th><%= @appraisal_calc.report_date.year-3 %></th>
      <th><%= @appraisal_calc.report_date.year-2 %></th>
      <th><%= @appraisal_calc.report_date.year-1 %></th>
    </tr>
    <tr>
      <td>Revenue</td>
      <td><%= number_to_currency(early_stmt.total_sales, negative_format: "(%u%n)") %> </td>
      <td><%= number_to_currency(middle_stmt.total_sales, negative_format: "(%u%n)") %> </td>
      <td><%= number_to_currency(last_stmt.total_sales, negative_format: "(%u%n)") %> </td>
    </tr>
    <tr>
      <td>Growth</td>
      <td><%= @appraisal_calc.get_early_growth.round(2) * 100 %>%</td>
      <td><%= @appraisal_calc.get_middle_growth.round(2) * 100 %>%</td>
      <td><%= @appraisal_calc.get_last_growth.round(2) * 100 %>%</td>
    </tr>
    <tr>
      <td>Pre-Tax Profit</td>
      <td><%= number_to_currency(early_stmt.pretax_profit, negative_format: "(%u%n)") %> </td>
      <td><%= number_to_currency(middle_stmt.pretax_profit, negative_format: "(%u%n)") %> </td>
      <td><%=number_to_currency(last_stmt.pretax_profit, negative_format: "(%u%n)") %> </td>
    </tr>
    <tr class="strong-bottom">
      <td>% of Revenue</td>
      <td><%= early_stmt.percent_of_revenue.round(2) * 100 %>% </td>
      <td><%= middle_stmt.percent_of_revenue.round(2) * 100 %>% </td>
      <td><%= last_stmt.percent_of_revenue.round(2) * 100 %>% </td>
    </tr>
    <tr>
      <td>Adjustments to Income:</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Depreciation/Amortization</td>
      <td><%= number_to_currency(early_stmt.dep_an_am, negative_format: "(%u%n)") %> </td>
      <td><%= number_to_currency(middle_stmt.dep_an_am, negative_format: "(%u%n)") %> </td>
      <td><%=number_to_currency(last_stmt.dep_an_am, negative_format: "(%u%n)") %> </td>
    </tr>
    <tr>
      <td>Interest</td>
      <td><%= number_to_currency(early_stmt.interest_exp, negative_format: "(%u%n)") %> </td>
      <td><%= number_to_currency(middle_stmt.interest_exp, negative_format: "(%u%n)") %> </td>
      <td><%=number_to_currency(last_stmt.interest_exp, negative_format: "(%u%n)") %> </td>
    </tr>
    <tr>
      <td>Owner's Compensation</td>
      <td><%= number_to_currency(early_stmt.partner_comp, negative_format: "(%u%n)") %> </td>
      <td><%= number_to_currency(middle_stmt.partner_comp, negative_format: "(%u%n)") %> </td>
      <td><%= number_to_currency(last_stmt.partner_comp, negative_format: "(%u%n)") %> </td>
    </tr>
    <tr>
      <td>Salary Adjustments</td>
      <td>(<%= number_to_currency(-early_stmt.sal_adj, negative_format: "(%u%n)") %>)</td>
      <td>(<%= number_to_currency(-middle_stmt.sal_adj, negative_format: "(%u%n)") %>)</td>
      <td>(<%= number_to_currency(-last_stmt.sal_adj, negative_format: "(%u%n)") %>)</td>
    </tr>
    <tr>
      <td>Owner's Benefits</td>
      <td><%= number_to_currency(early_stmt.own_retirement, negative_format: "(%u%n)") %> </td>
      <td><%= number_to_currency(middle_stmt.own_retirement, negative_format: "(%u%n)") %> </td>
      <td><%= number_to_currency(last_stmt.own_retirement, negative_format: "(%u%n)") %> </td>
    </tr>
    <tr>
      <td>Owner's "Perks"</td>
      <td><%= number_to_currency(early_stmt.calc_owners_perks, negative_format: "(%u%n)") %> </td>
      <td><%= number_to_currency(middle_stmt.calc_owners_perks, negative_format: "(%u%n)") %> </td>
      <td><%= number_to_currency(last_stmt.calc_owners_perks, negative_format: "(%u%n)") %> </td>
    </tr>
    <tr>
      <td>Rent Adjustment</td>
      <td><%= number_to_currency(early_stmt.calc_rent_adjustment, negative_format: "(%u%n)") %> </td>
      <td><%= number_to_currency(middle_stmt.calc_rent_adjustment, negative_format: "(%u%n)") %> </td>
      <td><%= number_to_currency(last_stmt.calc_rent_adjustment, negative_format: "(%u%n)") %> </td>
    </tr>
    <tr class="strong-bottom">
      <td>Other Income/Expense</td>
      <td><%= number_to_currency(early_stmt.non_rec_exp, negative_format: "(%u%n)") %> </td>
      <td><%= number_to_currency(middle_stmt.non_rec_exp, negative_format: "(%u%n)") %> </td>
      <td><%= number_to_currency(last_stmt.non_rec_exp, negative_format: "(%u%n)") %> </td>
    </tr>
    <tr>
      <td>Seller's Discretionary Earnings</td>
      <td><%= number_to_currency(early_stmt.calc_discretionary_earnings, negative_format: "(%u%n)") %> </td>
      <td><%= number_to_currency(middle_stmt.calc_discretionary_earnings, negative_format: "(%u%n)") %> </td>
      <td><%= number_to_currency(last_stmt.calc_discretionary_earnings, negative_format: "(%u%n)") %> </td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Other Historical Expense:</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Cost of Goods</td>
      <td><%= (early_stmt.cost_of_goods / early_stmt.total_sales).round(2) * 100 %>%</td>
      <td><%= (middle_stmt.cost_of_goods / middle_stmt.total_sales).round(2) * 100 %>%</td>
      <td><%= (last_stmt.cost_of_goods / last_stmt.total_sales * 100).round(2) %>%</td>
    </tr>
    <tr>
      <td>Salaries and Wages (Payroll)</td>
      <td><%= (early_stmt.payroll / early_stmt.total_sales).round(2) * 100 %>%</td>
      <td><%= (middle_stmt.payroll / middle_stmt.total_sales).round(2) * 100 %>%</td>
      <td><%= (last_stmt.payroll / last_stmt.total_sales).round(2) * 100 %>%</td>
    </tr>
    <tr>
      <td>Repairs and Maintenance</td>
      <td><%= (early_stmt.maintenance / early_stmt.total_sales).round(2) * 100 %>%</td>
      <td><%= (middle_stmt.maintenance / middle_stmt.total_sales).round(2) * 100 %>%</td>
      <td><%= (last_stmt.maintenance / last_stmt.total_sales).round(2) * 100 %>%</td>
    </tr>
    <tr>
      <td>Bad Debts</td>
      <td><%= (early_stmt.bad_debt / early_stmt.total_sales).round(2) * 100 %>%</td>
      <td><%= (middle_stmt.bad_debt/ middle_stmt.total_sales).round(2) * 100 %>%</td>
      <td><%= (last_stmt.bad_debt / last_stmt.total_sales).round(2) * 100 %>%</td>
    </tr>
    <tr>
      <td>Rents</td>
      <td><%= (early_stmt.rent / early_stmt.total_sales).round(2) * 100 %>%</td>
      <td><%= (middle_stmt.rent / middle_stmt.total_sales).round(2) * 100 %>%</td>
      <td><%= (last_stmt.rent / last_stmt.total_sales).round(2) * 100 %>%</td>
    </tr>
    <tr>
      <td>Taxes and Licenses</td>
      <td><%= (early_stmt.tax_and_lic / early_stmt.total_sales).round(2) * 100 %>%</td>
      <td><%= (middle_stmt.tax_and_lic / middle_stmt.total_sales).round(2) * 100 %>%</td>
      <td><%= (last_stmt.tax_and_lic / last_stmt.total_sales).round(2) * 100 %>%</td>
    </tr>
    <tr>
      <td>Advertising</td>
      <td><%= (early_stmt.advertising / early_stmt.total_sales).round(2) * 100 %>%</td>
      <td><%= (middle_stmt.advertising / middle_stmt.total_sales).round(2) * 100 %>%</td>
      <td><%= (last_stmt.advertising / last_stmt.total_sales).round(2) * 100 %>%</td>
    </tr>
    <tr>
      <td>Pension and Profit Sharing</td>
      <td><%= (early_stmt.pension_profit_share / early_stmt.total_sales).round(2) * 100 %>%</td>
      <td><%= (middle_stmt.pension_profit_share / middle_stmt.total_sales).round(2) * 100 %>%</td>
      <td><%= (last_stmt.pension_profit_share / last_stmt.total_sales).round(2) * 100 %>%</td>
    </tr>
    <tr>
      <td>Employee Benefit Cost</td>
      <td><%= (early_stmt.emp_benefit_cost / early_stmt.total_sales).round(2) * 100 %>%</td>
      <td><%= (middle_stmt.emp_benefit_cost / middle_stmt.total_sales).round(2) * 100 %>%</td>
      <td><%= (last_stmt.emp_benefit_cost / last_stmt.total_sales).round(2) * 100 %>%</td>
    </tr>
    <tr>
      <td>Bank and Credit Card Fees</td>
      <td><%= (early_stmt.bank_cc_fee / early_stmt.total_sales).round(2) * 100 %>%</td>
      <td><%= (middle_stmt.bank_cc_fee / middle_stmt.total_sales).round(2) * 100 %>%</td>
      <td><%= (last_stmt.bank_cc_fee / last_stmt.total_sales).round(2) * 100 %>%</td>
    </tr>
    <tr>
      <td>Insurance Costs</td>
      <td><%= (early_stmt.insurance_cost / early_stmt.total_sales).round(2) * 100 %>%</td>
      <td><%= (middle_stmt.insurance_cost / middle_stmt.total_sales).round(2) * 100 %>%</td>
      <td><%= (last_stmt.insurance_cost / last_stmt.total_sales).round(2) * 100 %>%</td>
    </tr>
    <tr>
      <td>Legal and Accounting Expense</td>
      <td><%= (early_stmt.legal_acct_exp/ early_stmt.total_sales).round(2) * 100 %>%</td>
      <td><%= (middle_stmt.legal_acct_exp / middle_stmt.total_sales).round(2) * 100 %>%</td>
      <td><%= (last_stmt.legal_acct_exp / last_stmt.total_sales).round(2) * 100 %>%</td>
    </tr>
    <tr>
      <td>Outside Services/Contract Labor</td>
      <td><%= (early_stmt.outside_exp / early_stmt.total_sales).round(2) * 100 %>%</td>
      <td><%= (middle_stmt.outside_exp / middle_stmt.total_sales).round(2) * 100 %>%</td>
      <td><%= (last_stmt.outside_exp / last_stmt.total_sales).round(2) * 100 %>%</td>
    </tr>
    <tr>
      <td>Utilities</td>
      <td><%= (early_stmt.utility / early_stmt.total_sales).round(2) * 100 %>%</td>
      <td><%= (middle_stmt.utility / middle_stmt.total_sales).round(2) * 100 %>%</td>
      <td><%= (last_stmt.utility / last_stmt.total_sales).round(2) * 100 %>%</td>
    </tr>
    <tr>
      <td>Vehicle Expense</td>
      <td><%= (early_stmt.veh_exp / early_stmt.total_sales).round(2) * 100 %>%</td>
      <td><%= (middle_stmt.veh_exp / middle_stmt.total_sales).round(2) * 100 %>%</td>
      <td><%= (last_stmt.veh_exp / last_stmt.total_sales).round(2) * 100 %>%</td>
    </tr>
    <tr>
      <td class="clearrow" colspan="4"></td>
    </tr>
    <tr>
      <td>Other Historical Expense:</td>
      <td>2015</td>
      <td>2016</td>
      <td>2017</td>
    </tr>
    <tr>
      <td>Cost of Goods</td>
      <td><%= number_to_currency(early_stmt.cost_of_goods, negative_format: "(%u%n)") %></td>
      <td><%= number_to_currency(middle_stmt.cost_of_goods, negative_format: "(%u%n)") %></td>
      <td><%= number_to_currency(last_stmt.cost_of_goods, negative_format: "(%u%n)") %></td>
    </tr>
    <tr>
      <td>Salaries and Wages (Payroll)</td>
      <td><%= number_to_currency(early_stmt.payroll, negative_format: "(%u%n)") %></td>
      <td><%= number_to_currency(middle_stmt.payroll, negative_format: "(%u%n)") %></td>
      <td><%= number_to_currency(last_stmt.payroll, negative_format: "(%u%n)") %></td>
    </tr>
    <tr>
      <td>Repairs and Maintenance</td>
      <td><%= number_to_currency(early_stmt.maintenance, negative_format: "(%u%n)") %></td>
      <td><%= number_to_currency(middle_stmt.maintenance, negative_format: "(%u%n)") %></td>
      <td><%= number_to_currency(last_stmt.maintenance, negative_format: "(%u%n)") %></td>
    </tr>
    <tr>
      <td>Bad Debts</td>
      <td><%= number_to_currency(early_stmt.bad_debt, negative_format: "(%u%n)") %></td>
      <td><%= number_to_currency(middle_stmt.bad_debt, negative_format: "(%u%n)") %></td>
      <td><%= number_to_currency(last_stmt.bad_debt, negative_format: "(%u%n)") %></td>
    </tr>
    <tr>
      <td>Rents</td>
      <td><%= number_to_currency(early_stmt.rent, negative_format: "(%u%n)") %></td>
      <td><%= number_to_currency(middle_stmt.rent, negative_format: "(%u%n)") %></td>
      <td><%= number_to_currency(last_stmt.rent, negative_format: "(%u%n)") %></td>
    </tr>
    <tr>
      <td>Taxes and Licenses</td>
      <td><%= number_to_currency(early_stmt.tax_and_lic, negative_format: "(%u%n)") %></td>
      <td><%= number_to_currency(middle_stmt.tax_and_lic, negative_format: "(%u%n)") %></td>
      <td><%= number_to_currency(last_stmt.tax_and_lic, negative_format: "(%u%n)") %></td>
    </tr>
    <tr>
      <td>Advertising</td>
      <td><%= number_to_currency(early_stmt.advertising, negative_format: "(%u%n)") %></td>
      <td><%= number_to_currency(middle_stmt.advertising, negative_format: "(%u%n)") %></td>
      <td><%= number_to_currency(last_stmt.advertising, negative_format: "(%u%n)") %></td>
    </tr>
    <tr>
      <td>Pension and Profit Sharing</td>
      <td><%= number_to_currency(early_stmt.pension_profit_share, negative_format: "(%u%n)") %></td>
      <td><%= number_to_currency(middle_stmt.pension_profit_share, negative_format: "(%u%n)") %></td>
      <td><%= number_to_currency(last_stmt.pension_profit_share, negative_format: "(%u%n)") %></td>
    </tr>
    <tr>
      <td>Employee Benefit Cost</td>
      <td><%= number_to_currency(early_stmt.emp_benefit_cost, negative_format: "(%u%n)") %></td>
      <td><%= number_to_currency(middle_stmt.emp_benefit_cost, negative_format: "(%u%n)") %></td>
      <td><%= number_to_currency(last_stmt.emp_benefit_cost, negative_format: "(%u%n)") %></td>
    </tr>
    <tr>
      <td>Bank and Credit Card Fees</td>
      <td><%= number_to_currency(early_stmt.bank_cc_fee, negative_format: "(%u%n)") %></td>
      <td><%= number_to_currency(middle_stmt.bank_cc_fee, negative_format: "(%u%n)") %></td>
      <td><%= number_to_currency(last_stmt.bank_cc_fee, negative_format: "(%u%n)") %></td>
    </tr>
    <tr>
      <td>Insurance Costs</td>
      <td><%= number_to_currency(early_stmt.insurance_cost, negative_format: "(%u%n)") %></td>
      <td><%= number_to_currency(middle_stmt.insurance_cost, negative_format: "(%u%n)") %></td>
      <td><%= number_to_currency(last_stmt.insurance_cost, negative_format: "(%u%n)") %></td>
    </tr>
    <tr>
      <td>Legal and Accounting Expense</td>
      <td><%= number_to_currency(early_stmt.legal_acct_exp, negative_format: "(%u%n)") %></td>
      <td><%= number_to_currency(middle_stmt.legal_acct_exp, negative_format: "(%u%n)") %></td>
      <td><%= number_to_currency(last_stmt.legal_acct_exp, negative_format: "(%u%n)") %></td>
    </tr>
    <tr>
      <td>Outside Services/Contract Labor</td>
      <td><%= number_to_currency(early_stmt.outside_exp, negative_format: "(%u%n)") %></td>
      <td><%= number_to_currency(middle_stmt.outside_exp, negative_format: "(%u%n)") %></td>
      <td><%= number_to_currency(last_stmt.outside_exp, negative_format: "(%u%n)") %></td>
    </tr>
    <tr>
      <td>Utilities</td>
      <td><%= number_to_currency(early_stmt.utility, negative_format: "(%u%n)") %></td>
      <td><%= number_to_currency(middle_stmt.utility, negative_format: "(%u%n)") %></td>
      <td><%= number_to_currency(last_stmt.utility, negative_format: "(%u%n)") %></td>
    </tr>
    <tr>
      <td>Vehicle Expense</td>
      <td><%= number_to_currency(early_stmt.veh_exp, negative_format: "(%u%n)") %></td>
      <td><%= number_to_currency(middle_stmt.veh_exp, negative_format: "(%u%n)") %></td>
      <td><%= number_to_currency(last_stmt.veh_exp, negative_format: "(%u%n)") %></td>
    </tr>
  </table>

  <br>

  <h1 id="manprojearn" class="pad"><br>Management's Projected Earnings/Calculation of the Earnings Stream</h1>

  <table>
    <tr>
      <th></th>
      <th>2015</th>
      <th>2016</th>
      <th>2017</th>
      <th>Growth Rate</th>
      <th>Projected</th>
    </tr>
    <tr>
      <td>Seller's Discretionary Earnings</td>
      <td><%= number_to_currency(early_stmt.calc_discretionary_earnings, negative_format: "(%u%n)") %></td>
      <td><%= number_to_currency(middle_stmt.calc_discretionary_earnings, negative_format: "(%u%n)") %></td>
      <td><%= number_to_currency(last_stmt.calc_discretionary_earnings, negative_format: "(%u%n)") %></td>
      <td><%= last_stmt.est_growth_rate * 100 %>%</td>
      <td><%= number_to_currency(last_stmt.calc_discretionary_earnings * (1 + last_stmt.est_growth_rate), negative_format: "(%u%n)") %></td>
    </tr>
    <tr>
      <td>Confidence Level</td>
      <td><%= form.text_field :year_one_conf, :size => 5 %></td>
      <td><%= form.text_field :year_two_conf, :size => 5 %></td>
      <td><%= form.text_field :year_three_conf, :size => 5 %></td>
      <td></td>
      <td><%= form.text_field :projected_conf, :size => 5 %></td>
    </tr>
    <tr class="strong-bottom">
      <td>Extension</td>
      <td><%= number_to_currency(@appraisal_calc.get_early_extension, negative_format: "(%u%n)") %></td>
      <td><%= number_to_currency(@appraisal_calc.get_middle_extension, negative_format: "(%u%n)") %></td>
      <td><%= number_to_currency(@appraisal_calc.get_last_extension, negative_format: "(%u%n)") %></td>
      <td></td>
      <td><%= number_to_currency(@appraisal_calc.get_projected_extension, negative_format: "(%u%n)") %></td>
    </tr>
    <tr>
      <td>Aggregate Weighted Seller's Discretionary Earnings</td>
      <td></td>
      <td></td>
      <td></td>
      <td>100.0%</td>
      <td><%= number_to_currency(@appraisal_calc.get_aggregate_weighted_earnings, negative_format: "(%u%n)") %></td>
    </tr>
  </table>

  <br>

  <h1 id="ANAM"><br>Adjusted Net Asset Method - Calculation of Value</h1>

  <table>
    <tr>
      <th></th>
      <th></th>
    </tr>
    <tr>
      <td>Total Current Assets</td>
      <td><%= number_to_currency(balance_sheet.cash_on_hand + balance_sheet.accounts_r + balance_sheet.inventory +
                                     balance_sheet.total_current_asset_adjustment, negative_format: "(%u%n)") %></td>
    </tr>
    <tr>
      <td>Net Fixed Assets</td>
      <td><%= number_to_currency(balance_sheet.real_estate_value + balance_sheet.ffe_v -
                                     balance_sheet.calc_deprec_and_amort + balance_sheet.total_fixed_asset_adjustment, negative_format: "(%u%n)") %></td>
    </tr>
    <tr class="strong-bottom">
      <td>Other Assets</td>
      <td><%= number_to_currency(balance_sheet.other_asset + balance_sheet.calc_other_asset_adjustment, negative_format: "(%u%n)") %></td>
    </tr>
    <tr>
      <td>Total Assets</td>
      <td><%= number_to_currency(balance_sheet.total_asset + balance_sheet.total_asset_adjustment, negative_format: "(%u%n)") %></td>
    </tr>
    <tr>
      <td><i>Less</i></td>
      <td></td>
    </tr>
    <tr>
      <td>Total Liabilities</td>
      <td><%= number_to_currency(balance_sheet.total_liability, negative_format: "(%u%n)") %></td>
    </tr>
    <tr>
      <td><i>Equals</i></td>
      <td></td>
    </tr>
    <tr>
      <td>Adjusted Net Asset Value of Business</td>
      <td><%= number_to_currency(balance_sheet.total_asset + balance_sheet.total_asset_adjustment -
                                     balance_sheet.total_liability, negative_format: "(%u%n)") %></td>
    </tr>
  </table>

  <br>

  <h1 id="FRM"><br>Factor Rating Model</h1>

  <table>
    <tr>
      <th>Characteristic</th>
      <th>Reported</th>
      <th>Weight</th>
      <th>Value</th>
    </tr>
    <tr>
      <td>Stability of Historical Earnings</td>
      <td><%= @appraisal_calc.organization.hist_earning_ranking_id %></td>
      <td>10</td>
      <td><%= @appraisal_calc.get_historical_earnings_rating %></td>
    </tr>
    <tr>
      <td>Financial Records</td>
      <td><%= @appraisal_calc.organization.finance_rec_ranking_id %></td>
      <td>9</td>
      <td><%= @appraisal_calc.get_financial_records_rating %></td>
    </tr>
    <tr>
      <td>Depth of Management</td>
      <td><%= @appraisal_calc.organization.depth_of_management_ranking_id %></td>
      <td>8</td>
      <td><%= @appraisal_calc.get_depth_management_rating %></td>
    </tr>
    <tr>
      <td>Industry Performance</td>
      <td><%= @appraisal_calc.organization.hist_org_performance_ranking_id %></td>
      <td>7</td>
      <td><%= @appraisal_calc.get_industry_performance_rating %></td>
    </tr>
    <tr>
      <td>Location and Facilities</td>
      <td><%= @appraisal_calc.organization.loc_and_fac_ranking_id %></td>
      <td>6</td>
      <td><%= @appraisal_calc.get_location_and_facilities_rating %></td>
    </tr>
    <tr>
      <td>Competition</td>
      <td><%= @appraisal_calc.organization.competition_ranking_id %></td>
      <td>5</td>
      <td><%= @appraisal_calc.get_competition_rating %></td>
    </tr>
    <tr>
      <td>Diversification of Products and Services</td>
      <td><%= @appraisal_calc.organization.diversification_ranking_id %></td>
      <td>4</td>
      <td><%= @appraisal_calc.get_diversification_rating %></td>
    </tr>
    <tr>
      <td>Stability and Skills of Employees</td>
      <td><%= @appraisal_calc.organization.employee_skill_turnover_ranking_id %></td>
      <td>3</td>
      <td><%= @appraisal_calc.get_stability_skills_rating %></td>
    </tr>
    <tr>
      <td>Equipment and Systems</td>
      <td><%= @appraisal_calc.organization.equipment_sys_ranking_id %></td>
      <td>2</td>
      <td><%= @appraisal_calc.get_equipment_systems_rating %></td>
    </tr>
    <tr class="strong-bottom">
      <td>Desirability &amp; Marketability</td>
      <td><%= @appraisal_calc.organization.desirability_ranking_id %></td>
      <td>1</td>
      <td><%= @appraisal_calc.get_desirability_marketability_rating %></td>
    </tr>
    <tr>
      <td></td>
      <td class="strong-bottom">Total:</td>
      <td class="strong-bottom">55</td>
      <td class="strong-bottom"><%= @appraisal_calc.get_total_factor_ratings %></td>
    </tr>
    <tr>
      <td>Valuation Multiple (Value / Weight)</td>
      <td><%= @appraisal_calc.get_valuation_multiple.round(2) %> </td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Valuation Multiple Inverted to Capitalization Rate (1 / Valuation Multiple) </td>
      <td><%= (@appraisal_calc.get_inverted_valuation_multiple * 100).round(2) %>%</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>(Selected Earnings: <%= number_to_currency(@appraisal_calc.get_aggregate_weighted_earnings, negative_format: "(%u%n)") %>)/(Cap Rate: <%=
        (@appraisal_calc.get_inverted_valuation_multiple * 100).round(2) %>%)</td>
      <td><%= number_to_currency(@appraisal_calc.get_selected_earnings_over_cap_rate, negative_format: "(%u%n)") %></td>
      <td></td>
      <td></td>
    </tr>
  </table>

  <br>

  <h1 id="SOT"><br>Summary of Transactions</h1>

  <br>

  <table>
    <tr>
      <th>
        <%= form.number_field :trans_found, {size: 2} %> Transactions Found</th>
      <th></th>
      <th>Variation</th>
    </tr>
    <tr>
      <td>Annual Gross Revenue</td>
      <td><%= number_to_currency(last_stmt.total_sales, negative_format: "(%u%n)") %></td>
      <td>N/A</td>
    </tr>
    <tr>
      <td>Seller's Discretionary Earnings</td>
      <td><%= number_to_currency(last_stmt.calc_discretionary_earnings, negative_format: "(%u%n)") %></td>
      <td>N/A</td>
    </tr>
    <tr>
      <td>Multiple of Revenue</td>
      <td><%= form.text_field :mult_of_rev, :size => 5 %></td>
      <td><%= form.text_field :mult_of_rev_var, :size => 5 %></td>
    </tr>
    <tr>
      <td>Multiple of SDE</td>
      <td><%= form.text_field :mult_of_sde, :size => 5 %></td>
      <td><%= form.text_field :mult_of_sde_var, :size => 5%></td>
    </tr>
  </table>

  <h1 id="DirectData"><br>Direct Market Data Method Value & Weighting</h1>

  <br>

  <table>
    <tr>
      <th></th>
      <th>Value</th>
      <th>Confidence</th>
    </tr>
    <tr>
      <td>Revenue</td>
      <td><%= number_to_currency(last_stmt.total_sales, negative_format: "(%u%n)") %></td>
      <td></td>
    </tr>
    <tr>
      <td>X Multiplier of Revenue</td>
      <td><%= @appraisal_calc.mult_of_rev %></td>
      <td></td>
    </tr>
    <tr class="strong-bottom">
      <td>Estimated Value</td>
      <td><%= number_to_currency(@appraisal_calc.get_market_data_revenue, negative_format: "(%u%n)") %></td>
      <td><%= form.text_field :est_val_rev_conf, :size => 5%></td>
    </tr>
    <tr>
      <td>Weighted Seller's Discretionary Earnings</td>
      <td><%= number_to_currency(@appraisal_calc.get_aggregate_weighted_earnings, negative_format: "(%u%n)") %></td>
      <td></td>
    </tr>
    <tr>
      <td>X Multiplier of SDE</td>
      <td><%= @appraisal_calc.mult_of_sde %></td>
      <td></td>
    </tr>
    <tr class="strong-bottom">
      <td>Estimated Value</td>
      <td><%= number_to_currency(@appraisal_calc.get_market_data_earnings, negative_format: "(%u%n)") %></td>
      <td><%= form.text_field :est_value_sde_conf, :size => 5%></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td>100%</td>
    </tr>
    <tr>
      <td>Estimated Value - Direct Market Data Method</td>
      <td>Total: </td>
      <td><b><%= number_to_currency((@appraisal_calc.get_market_data_value), negative_format: "(%u%n)") %></b></td>
    </tr>
  </table>

  <br>

  <h1 id="RecVal"><br>Reconciliation of Values</h1>

  <br>

  <table>
    <tr>
      <th></th>
      <th>Value</th>
      <th>Confidence</th>
      <th>Extension</th>
    </tr>
    <tr>
      <td>Asset Approach</td>
      <td><%= number_to_currency(@appraisal_calc.get_adjusted_net_value_of_business, negative_format: "(%u%n)") %></td>
      <td><%= form.text_field :asset_approach_conf, :size => 5%></td>
      <td><%= number_to_currency(@appraisal_calc.asset_approach_extension, negative_format: "(%u%n)") %></td>
    </tr>
    <tr>
      <td>Income Approach</td>
      <td><%= number_to_currency(@appraisal_calc.get_selected_earnings_over_cap_rate, negative_format: "(%u%n)") %></td>
      <td><%= form.text_field :income_approach_conf, :size => 5%></td>
      <td><%= number_to_currency(@appraisal_calc.income_approach_extension, negative_format: "(%u%n)") %></td>
    </tr>
    <tr class="strong-bottom">
      <td>Market Approach</td>
      <td><%= number_to_currency(@appraisal_calc.get_market_data_value, negative_format: "(%u%n)") %></td>
      <td><%= form.text_field :market_approach_conf, :size => 5%></td>
      <td><%= number_to_currency(@appraisal_calc.market_approach_extension, negative_format: "(%u%n)") %></td>
    </tr>
    <tr>
      <td>Estimated Value - 100% Controlling Interest</td>
      <td></td>
      <td>100%</td>
      <td><%= number_to_currency(@appraisal_calc.reconciliation_of_values, negative_format: "(%u%n)") %></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td>Rounded:</td>
      <td><b><%= number_to_currency((@appraisal_calc.reconciliation_of_values / 1000 + 0.5).round(0) * 1000, negative_format: "(%u%n)") %></b></td>
    </tr>
  </table>
    <% price =  (@appraisal_calc.reconciliation_of_values / 1000 + 0.5).round(0) * 1000 %>
  <br>
  <h1 id="JustPurch"><br>Justification of Purchase Test/Economic Ability to Pay</h1>

  <table>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <tr>
      <td>Assumed Purchase Price</td>
      <td>100.0%</td>
      <td><%= number_to_currency(price, negative_format: "(%u%n)") %></td>
      <td></td>
    </tr>
    <tr>
      <td>Down Payment</td>
      <td><%= form.text_field :buyer_down_pmt, :size => 5%>%</td>
      <td><%= number_to_currency(@appraisal_calc.get_buyer_down_payment(price), negative_format: "(%u%n)") %></td>
      <td></td>
    </tr>
    <tr>
      <td>Financed Amount</td>
      <td><%= 1 - @appraisal_calc.buyer_down_pmt%>%</td>
      <td><%= number_to_currency( @appraisal_calc.financed_amount(price), negative_format: "(%u%n)") %></td>
      <td></td>
    </tr>
    <tr>
      <td>Terms (Years)</td>
      <td><%= form.number_field :term, :size => 5%></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Interest Rate</td>
      <td>7.75%</td>
      <td></td>
      <td>interest rate is wsj prime + 2.75</td>
    </tr>
    <tr>
      <td class="clearrow" colspan="4"></td>
    </tr>
    <tr>
      <td>Earnings Available</td>
      <td></td>
      <td><%= number_to_currency(@appraisal_calc.get_aggregate_weighted_earnings, negative_format: "(%u%n)") %></td>
      <td></td>
    </tr>
    <tr>
      <td>Annual Debt Service</td>
      <td></td>
      <td><%= number_to_currency(@appraisal_calc.annual_debt_service(price), negative_format: "(%u%n)") %></td>
      <td><%= number_to_currency(-@appraisal_calc.annual_debt_service(price), negative_format: "(%u%n)") %></td>
    </tr>
    <tr>
      <td>Debt Service Cushion (25%)</td>
      <td></td>
      <td><%= number_to_currency(@appraisal_calc.annual_debt_service(price) / 4, negative_format: "(%u%n)") %></td>
      <td><%= number_to_currency(-@appraisal_calc.annual_debt_service(price) / 4, negative_format: "(%u%n)") %></td>
    </tr>
    <tr>
      <td>Capital Expenditures Est.</td>
      <td></td>
      <td><%= number_to_currency(-@appraisal_calc.capt_expend_est, negative_format: "(%u%n)") %></td>
      <td>$<%= form.number_field :capt_expend_est, :size => 5%> </td>
    </tr>
    <tr>
      <td>New Owner Salary</td>
      <td></td>
      <td>($<%= form.number_field :new_owner_sal, :size => 5%>) </td>
      <td></td>
    </tr>
    <tr>
      <td>Remaining Earnings</td>
      <td></td>
      <td><%= number_to_currency(@appraisal_calc.remaining_earnings(price), negative_format: "(%u%n)") %></td>
      <td></td>
    </tr>
    <tr>
      <td class="clearrow" colspan="4"></td>
    </tr>
    <tr>
      <td>Cash Return on Purchase Price</td>
      <td></td>
      <td><%= ((@appraisal_calc.remaining_earnings(price) - @appraisal_calc.debt_service_cushion(price)) / price * 100).round(2) %>%</td>
      <td></td>
    </tr>
    <tr>
      <td>Cash Return on Down Payment</td>
      <td></td>
      <td><%= ((@appraisal_calc.remaining_earnings(price) - @appraisal_calc.debt_service_cushion(price)) / @appraisal_calc.get_buyer_down_payment(price) * 100).round(2) %>%</td>
      <td></td>
    </tr>
    <tr>
      <td>Sale Price/SDE</td>
      <td></td>
      <td><%= (price / @appraisal_calc.get_aggregate_weighted_earnings).round(2) %></td>
      <td></td>
    </tr>
  </table>

  <br>

  <h1 id="SellNote"><br>Seller Note</h1>
  <table>
    <tr>
      <th colspan="4"></th>
    </tr>
    <tr>
      <td>Years</td>
      <td>Rate</td>
      <td>Amount</td>
      <td>Payment</td>
    </tr>
    <tr class="strong-bottom">
      <td>5</td>
      <td>7.75%</td>
      <td><%= number_to_currency(@appraisal_calc.get_seller_financing(price), negative_format: "(%u%n)") %> </td>
      <td><%= number_to_currency(@appraisal_calc.seller_note_payment(price), negative_format: "(%u%n)") %></td>
    </tr>
    <tr>
      <td>60</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </table>

  <br>

  <h1 id="LPD"><br>Likely Pricing and Deal Structure</h1>

  <table>
    <tr>
      <th>Value of Operating Assets in Sale</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <tr>
      <td>Tangible Assets (Valued by Seller)</td>
      <td><%= number_to_currency(@appraisal_calc.get_adjusted_net_value_of_business, negative_format: "(%u%n)") %></td>
      <td><%= ((@appraisal_calc.get_adjusted_net_value_of_business) / price * 100).round(2) %>%</td>
      <td></td>
      <td></td>
    </tr>
    <tr class="strong-bottom">
      <td>Intangible Assets*</td>
      <td><%= number_to_currency(price - @appraisal_calc.get_adjusted_net_value_of_business, negative_format: "(%u%n)") %></td>
      <td><%= ((price - @appraisal_calc.get_adjusted_net_value_of_business) / price * 100).round(2) %>%</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Calculated Value</td>
      <td></td>
      <td>100.0%</td>
      <td></td>
      <td><%= number_to_currency(price, negative_format: "(%u%n)") %></td>
    </tr>
    <tr>
      <td class="clearrow" colspan="5"></td>
    </tr>
    <tr>
      <td>Deal Structure &amp; Financing</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Buyer Down Payment</td>
      <td><%= number_to_currency(@appraisal_calc.get_buyer_down_payment(price), negative_format: "(%u%n)") %></td>
      <td><%= form.text_field :buyer_down_pmt, :size => 5%></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Assumption of Debt</td>
      <td><%= number_to_currency(@appraisal_calc.get_assumption_of_debt(price), negative_format: "(%u%n)") %></td>
      <td><%= form.text_field :debt_assum, :size => 5%></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Seller Financing</td>
      <td><%= number_to_currency(@appraisal_calc.get_seller_financing(price), negative_format: "(%u%n)") %></td>
      <td><%= form.text_field :seller_finance, :size => 5%></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Commercial/Other Financing</td>
      <td><%= number_to_currency(@appraisal_calc.get_comm_finance(price), negative_format: "(%u%n)") %></td>
      <td><%= form.text_field :comm_finance, :size => 5%></td>
      <td></td>
      <td></td>
    </tr>
    <tr class="strong-bottom">
      <td>Contingent/Performance Earn-out</td>
      <td><%= number_to_currency(@appraisal_calc.get_cont_earn_out(price), negative_format: "(%u%n)") %></td>
      <td><%= form.text_field :cont_earn_out, :size => 5%></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Total Deal Structure</td>
      <td></td>
      <td>100.0%</td>
      <td></td>
      <td><%= number_to_currency(price, negative_format: "(%u%n)") %></td>
    </tr>
    <tr>
      <td class="clearrow" colspan="5"></td>
    </tr>
    <tr>
      <td>Recap of Calculated Value</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Price/Revenue</td>
      <td><%= number_to_currency(price, negative_format: "(%u%n)") %></td>
      <td></td>
      <td><%= number_to_currency(last_stmt.total_sales, negative_format: "(%u%n)") %></td>
      <td><%= (price / last_stmt.total_sales).round(2) %></td>
    </tr>
    <tr>
      <td>Price/SDE</td>
      <td><%= number_to_currency(price, negative_format: "(%u%n)") %></td>
      <td></td>
      <td><%= number_to_currency(@appraisal_calc.get_aggregate_weighted_earnings, negative_format: "(%u%n)") %></td>
      <td><%= (price / @appraisal_calc.get_aggregate_weighted_earnings).round(2) %></td>
    </tr>
    <tr>
      <td class="clearbot" colspan="5">* Calculation only, do not use for asset allocation.</td>
    </tr>
  </table>

  <br>

  <h1 id="BvS"><br>Buyer v. Seller View of Transaction</h1>

  <table>
    <tr>
      <th></th>
      <th></th>
      <th>Buyer</th>
      <th>Seller</th>
    </tr>
    <tr>
      <td>Assumed Purchase Price</td>
      <td></td>
      <td><%= number_to_currency(price, negative_format: "(%u%n)") %></td>
      <td><%= number_to_currency(price, negative_format: "(%u%n)") %></td>
    </tr>
    <tr>
      <td>Interest Expense/Income</td>
      <td>7.75%</td>
      <td><%= number_to_currency(@appraisal_calc.buyer_int_income(price), negative_format: "(%u%n)") %></td>
      <td><%= number_to_currency(@appraisal_calc.seller_int_income(price), negative_format: "(%u%n)") %></td>
    </tr>
    <tr>
      <td>Working Capital/Cash Retained</td>
      <td></td>
      <td><%= number_to_currency(balance_sheet.cash_req, negative_format: "(%u%n)") %></td>
      <td><%= number_to_currency(balance_sheet.cash_on_hand, negative_format: "(%u%n)") %></td>
    </tr>
    <tr>
      <td>Estimated Loan Fees</td>
      <td><%= form.text_field :est_loan_fee, :size => 5%>%</td>
      <td><%= number_to_currency(@appraisal_calc.get_comm_finance(price) * @appraisal_calc.est_loan_fee, negative_format: "(%u%n)") %></td>
      <td>NA</td>
    </tr>
    <tr>
      <td>Accounts Receivable Retained</td>
      <td></td>
      <td>NA</td>
      <td><%= number_to_currency(balance_sheet.accounts_r, negative_format: "(%u%n)") %></td>
    </tr>
    <tr>
      <td>Excess/Deficient Inventory</td>
      <td></td>
      <td><%= number_to_currency(@appraisal_calc.excess_def_inventory, negative_format: "(%u%n)") %></td>
      <td><%= number_to_currency(@appraisal_calc.excess_def_inventory, negative_format: "(%u%n)") %></td>
    </tr>
    <tr>
      <td>Liabilities to Clear at Closing</td>
      <td></td>
      <td>NA</td>
      <td><%= number_to_currency(@appraisal_calc.liabilities_at_closing, negative_format: "(%u%n)") %></td>
    </tr>
    <tr class="strong-bottom">
      <td>Estimated Monthly Payment</td>
      <td></td>
      <td><%= number_to_currency(@appraisal_calc.buyer_monthly_payment(price), negative_format: "(%u%n)") %></td>
      <td><%= number_to_currency(@appraisal_calc.seller_note_payment(price), negative_format: "(%u%n)") %></td>
    </tr>
    <tr>
      <td>Total Cost/Proceeds</td>
      <td></td>
      <td><%= number_to_currency(@appraisal_calc.buyer_total_cost(price), negative_format: "(%u%n)") %></td>
      <td><%= number_to_currency(@appraisal_calc.seller_total_cost(price), negative_format: "(%u%n)") %></td>
    </tr>
    <tr>
      <td>Cost/Proceeds as Multiple of Earnings</td>
      <td></td>
      <td><%= (@appraisal_calc.buyer_cost_pro_me(price)).round(2) %></td>
      <td><%= (@appraisal_calc.seller_cost_pro_me(price)).round(2) %></td>
    </tr>
  </table>
  </div>
  <br>
  <br>
  <br>
  <br>
<% end %>
