<style>
  .header{
    margin-left: 340px;
    font-size: 36px;
  }
</style>

<nav1>
  <ul>
<li>  <%= link_to 'Business Information', controller: "organizations", action: "edit", id: @appraisal_calc.organization.id%> </li>
  <li><%= link_to 'Balance Sheet', controller: "balance_sheets", action: "edit", id: @appraisal_calc.get_balance_sheet %></li>
  <li> <%= link_to 'Income Statement', controller: "organizations", action: "org_statements", id: @appraisal_calc.organization.id %></li>
  <li>  <%= link_to 'Appraisal', controller: "appraisal_calcs", action: "edit", id: @appraisal_calc %> </li>
    <li>
      <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
    </li>
  </ul>
</nav1>

<h1 class="header">Appraisal Calculation</h1>

<%= render 'form', appraisal_calc: @appraisal_calc %>
<%= link_to '<button class="button">Export PDF</button>'.html_safe, { :action => "show", :format => :pdf }%>






