<p id="notice"><%= notice %></p>

<h1>Appraisal Calculation</h1>

<table>
  <thead>
    <tr>
      <th nowrap>Organization</th>
      <th nowrap>Year one conf</th>
      <th nowrap>Year two conf</th>
      <th nowrap>Year three conf</th>
      <th nowrap>Projected conf</th>
      <th nowrap>Trans found</th>
      <th nowrap>Mult of rev</th>
      <th nowrap>Mult of rev var</th>
      <th nowrap>Mult of sde</th>
      <th nowrap>Mult of sde var</th>
      <th nowrap>Est value rev conf</th>
      <th nowrap>Est value sde conf</th>
      <th nowrap>Asset approach conf</th>
      <th nowrap>Income approach conf</th>
      <th nowrap>Market approach conf</th>
      <th nowrap>Buyer down pmt</th>
      <th nowrap>Debt assum</th>
      <th nowrap>Seller finance</th>
      <th nowrap>Comm finance</th>
      <th nowrap>Cont earn out</th>
      <th nowrap>Report date</th>
      <th nowrap>Business type</th>
      <th nowrap>Appraisal calc status</th>
      <th nowrap>Adjusted Business Net Value</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @appraisal_calcs.each do |appraisal_calc| %>
      <tr>
        <td><%= appraisal_calc.organization.org_name %></td>
        <td><%= test = (appraisal_calc.year_one_conf.to_s).to_f
        number_to_percentage(test * 100) %></td>
        <td><%= appraisal_calc.year_two_conf %></td>
        <td><%= appraisal_calc.year_three_conf %></td>
        <td><%= appraisal_calc.projected_conf %></td>
        <td><%= appraisal_calc.trans_found %></td>
        <td><%= appraisal_calc.mult_of_rev %></td>
        <td><%= appraisal_calc.mult_of_rev_var %></td>
        <td><%= appraisal_calc.mult_of_sde %></td>
        <td><%= appraisal_calc.mult_of_sde_var %></td>
        <td><%= appraisal_calc.est_val_rev_conf %></td>
        <td><%= appraisal_calc.est_value_sde_conf %></td>
        <td><%= appraisal_calc.asset_approach_conf %></td>
        <td><%= appraisal_calc.income_approach_conf %></td>
        <td><%= appraisal_calc.market_approach_conf %></td>
        <td><%= appraisal_calc.buyer_down_pmt %></td>
        <td><%= appraisal_calc.debt_assum %></td>
        <td><%= appraisal_calc.seller_finance %></td>
        <td><%= appraisal_calc.comm_finance %></td>
        <td><%= appraisal_calc.cont_earn_out %></td>
        <td><%= appraisal_calc.report_date %></td>
        <td><%= appraisal_calc.business_type.business_type_desc %></td>
        <td><%= appraisal_calc.appraisal_calc_status.calc_status_desc %></td>
        <td><%= number_to_currency(appraisal_calc.get_adjusted_net_value_of_business) %></td>
        <td><%= link_to 'View', appraisal_calc %></td>
        <td><%= link_to 'Edit', edit_appraisal_calc_path(appraisal_calc) %></td>
        <td><%= link_to 'Delete', appraisal_calc, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Appraisal Calc', new_appraisal_calc_path %>
