<br>
<div class="hbutton2" style="background-color: #F8EE7C;"> Appraisal Work In Progress <%= image_tag("atom.svg", :size => "50x50", :align => "right" ) %></div>

<br><br>

<table>
  <thead>
  <tr>
    <th>Organization</th>
    <th>Address</th>
    <th>City</th>
    <th>State</th>
    <th>Website</th>
    <th>Report Date</th>
    <th>Business Type</th>
    <th>Appraisal Calculation Status</th>
    <th>Adjusted Business Net Value</th>
    <th colspan="2"></th>
  </tr>
  </thead>

  <tbody>
  <% @appraisal_calcs.each do |appraisal_calc| %>
    <% if appraisal_calc.appraisal_calc_status.calc_status_desc == 'Pending' %>
      <tr>
        <td><%= appraisal_calc.organization.org_name %></td>
        <td><%= appraisal_calc.organization.org_address %></td>
        <td><%= appraisal_calc.organization.org_city %></td>
        <td><%= appraisal_calc.organization.state.state_name %></td>
        <td><%= appraisal_calc.organization.org_website %></td>
        <td><%= appraisal_calc.report_date %></td>
        <td><%= appraisal_calc.business_type.business_type_desc %></td>
        <td><%= appraisal_calc.appraisal_calc_status.calc_status_desc %></td>
        <td><%= number_to_currency(appraisal_calc.get_adjusted_net_value_of_business) %></td>
        <td><%= link_to 'Edit', edit_appraisal_calc_path(appraisal_calc) %></td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>

<br>
<div align="right">
  <%= link_to '<button class="button">Home</button>'.html_safe, '../appraiser_home' %>
</div>
