<p id="notice"><%= notice %></p>

<p>
  <strong>Organization:</strong>
  <%= @appraisal_calc.organization.org_name %>
</p>

<p>
  <strong>Year one revenue:</strong>
  <%= @appraisal_calc.get_last_statement %>
</p>

<p>
  <strong>Year one conf:</strong>
  <%= @appraisal_calc.year_one_conf %>
</p>

<p>
  <strong>Year two conf:</strong>
  <%= @appraisal_calc.year_two_conf %>
</p>

<p>
  <strong>Year three conf:</strong>
  <%= @appraisal_calc.year_three_conf %>
</p>

<p>
  <strong>Projected conf:</strong>
  <%= @appraisal_calc.projected_conf %>
</p>

<p>
  <strong>Trans found:</strong>
  <%= @appraisal_calc.trans_found %>
</p>

<p>
  <strong>Mult of rev:</strong>
  <%= @appraisal_calc.mult_of_rev %>
</p>

<p>
  <strong>Mult of rev var:</strong>
  <%= @appraisal_calc.mult_of_rev_var %>
</p>

<p>
  <strong>Mult of sde:</strong>
  <%= @appraisal_calc.mult_of_sde %>
</p>

<p>
  <strong>Mult of sde var:</strong>
  <%= @appraisal_calc.mult_of_sde_var %>
</p>

<p>
  <strong>Est value rev:</strong>
  <%= @appraisal_calc.est_value_sde_conf %>
</p>

<p>
  <strong>Est value rev var:</strong>
  <%= @appraisal_calc.est_val_rev_conf %>
</p>

<p>
  <strong>Asset approach conf:</strong>
  <%= @appraisal_calc.asset_approach_conf %>
</p>

<p>
  <strong>Income approach conf:</strong>
  <%= @appraisal_calc.income_approach_conf %>
</p>

<p>
  <strong>Market approach conf:</strong>
  <%= @appraisal_calc.market_approach_conf %>
</p>

<p>
  <strong>Buyer down pmt:</strong>
  <%= @appraisal_calc.buyer_down_pmt %>
</p>

<p>
  <strong>Debt assum:</strong>
  <%= @appraisal_calc.debt_assum %>
</p>

<p>
  <strong>Seller finance:</strong>
  <%= @appraisal_calc.seller_finance %>
</p>

<p>
  <strong>Comm finance:</strong>
  <%= @appraisal_calc.comm_finance %>
</p>

<p>
  <strong>Cont earn out:</strong>
  <%= @appraisal_calc.cont_earn_out %>
</p>

<p>
  <strong>Report date:</strong>
  <%= @appraisal_calc.report_date %>
</p>

<p>
  <strong>Interim start:</strong>
  <%= @appraisal_calc.interim_start %>
</p>

<p>
  <strong>Interim end:</strong>
  <%= @appraisal_calc.interim_end %>
</p>

<p>
  <strong>Business type:</strong>
  <%= @appraisal_calc.business_type %>
</p>

<p>
  <strong>Facility type:</strong>
  <%= @appraisal_calc.facility_type %>
</p>

<p>
  <strong>Est loan fee:</strong>
  <%= @appraisal_calc.est_loan_fee %>
</p>

<p>
  <strong>Term:</strong>
  <%= @appraisal_calc.term %>
</p>

<p>
  <strong>Capt expend est:</strong>
  <%= @appraisal_calc.capt_expend_est %>
</p>

<p>
  <strong>New owner sal:</strong>
  <%= @appraisal_calc.new_owner_sal %>
</p>

<p>
  <strong>Appraisal calc status:</strong>
  <%= @appraisal_calc.appraisal_calc_status %>
</p>


<p>
  <strong>Adjusted Net Asset Value:</strong>
  <%= @appraisal_calc.get_adjusted_net_value_of_business %>
</p>


<p>
  <strong>Weighted Discretionary Earnings:</strong>
  <%= @appraisal_calc.get_aggregate_weighted_earnings %>
</p>


<p>
  <strong>Factor Rating Ratio</strong>
  <%= @appraisal_calc.get_valuation_multiple %>
</p>


<p>
  <strong>Income Approach Valuation:</strong>
  <%= @appraisal_calc.get_selected_earnings_over_cap_rate %>
</p>



<p>
  <strong>Market Data Valuation:</strong>
  <%= @appraisal_calc.get_market_data_value %>
</p>

<p>
  <strong>Market Confidence:</strong>
  <%= @appraisal_calc.market_approach_conf %>
</p>
<p>
  <strong>Asset Confidence:</strong>
  <%= @appraisal_calc.asset_approach_conf %>
</p>
<p>
  <strong>Income Approach Confidence:</strong>
  <%= @appraisal_calc.income_approach_conf %>
</p>
<p>
  <strong>Reconciliation of Values:</strong>
  <%= @appraisal_calc.reconciliation_of_values %>
</p>

<%= link_to 'Edit', edit_appraisal_calc_path(@appraisal_calc) %> |
<%= link_to 'Back', 'appraiser_home' %>
