<%= form_with(model: desirability_ranking, local: true) do |form| %>
  <% if desirability_ranking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(desirability_ranking.errors.count, "error") %> prohibited this desirability_ranking from being saved:</h2>

      <ul>
      <% desirability_ranking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :desirability_desc %>
    <%= form.text_field :desirability_desc %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
