<h1>Editing Desirability Ranking</h1>

<%= render 'form', desirability_ranking: @desirability_ranking %>

<%= link_to 'Show', @desirability_ranking %> |
<%= link_to 'Back', desirability_rankings_path %>
