<p id="notice"><%= notice %></p>

<h1>Desirability Rankings</h1>

<table>
  <thead>
    <tr>
      <th>Desirability desc</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @desirability_rankings.each do |desirability_ranking| %>
      <tr>
        <td><%= desirability_ranking.desirability_desc %></td>
        <td><%= link_to 'View', desirability_ranking %></td>
        <td><%= link_to 'Edit', edit_desirability_ranking_path(desirability_ranking) %></td>
        <td><%= link_to 'Delete', desirability_ranking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Desirability Ranking', new_desirability_ranking_path %>
