<p id="notice"><%= notice %></p>

<p>
  <strong>Desirability desc:</strong>
  <%= @desirability_ranking.desirability_desc %>
</p>

<%= link_to 'Edit', edit_desirability_ranking_path(@desirability_ranking) %> |
<%= link_to 'Back', desirability_rankings_path %>
