<%= form_with(model: income_stmt_status, local: true) do |form| %>
  <% if income_stmt_status.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(income_stmt_status.errors.count, "error") %> prohibited this income_stmt_status from being saved:</h2>

      <ul>
      <% income_stmt_status.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :stmt_status_desc %>
    <%= form.text_field :stmt_status_desc %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
