<p id="notice"><%= notice %></p>

<h1>Income Stmt Statuses</h1>

<table>
  <thead>
    <tr>
      <th>Stmt status desc</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @income_stmt_statuses.each do |income_stmt_status| %>
      <tr>
        <td><%= income_stmt_status.stmt_status_desc %></td>
        <td><%= link_to 'View', income_stmt_status %></td>
        <td><%= link_to 'Edit', edit_income_stmt_status_path(income_stmt_status) %></td>
        <td><%= link_to 'Delete', income_stmt_status, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Income Stmt Status', new_income_stmt_status_path %>
