<p id="notice"><%= notice %></p>

<p>
  <strong>Stmt status desc:</strong>
  <%= @income_stmt_status.stmt_status_desc %>
</p>

<%= link_to 'Edit', edit_income_stmt_status_path(@income_stmt_status) %> |
<%= link_to 'Back', income_stmt_statuses_path %>
