

<%= form_with(model: balance_sheet, local: true) do |form| %>
    <% if balance_sheet.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(balance_sheet.errors.count, "error") %> prohibited this balance_sheet from being saved:</h2>

        <ul>
        <% balance_sheet.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>


  <div onload="shows_form_part(1)">

    <div id="form_part1">
      <div class="row">
        <div class="col-md-2">
          <%= form.label :organization_id, "Organization Name:" %></div>
        <div class="col-sm-2">
          <%= @organization.org_name %></div>
      </div>

      <div class="row">
        <div class="col-md-2">
        <%= form.label :financial_source_type_id , "Financial Source Type:"%></div>
        <div class="col-sm-2">
        <%= form.collection_select(:financial_source_type_id, FinancialSourceType.all, :id, :financial_source_type_desc, prompt: true) %></div>
    </div>

      <div class="row">
        <div class="col-md-2">
      <%= form.label :sheet_date , "Sheet Date:"%></div>
      <div class="col-sm-3">
      <%= form.date_select :sheet_date %></div>
        <div class="col-sm-2">
          <a data-toggle="tooltip" data-placement="Right" title="Example: 12/31/17 or 6/30/17. Best if its at a month or year end.">?</a></div>
    </div>

      <div class="row">
        <div class="col-md-2">
      <%= form.label :accounting_method_id, "Accounting Method:" %></div>
          <div class="col-sm-2">
            <%= form.collection_select(:accounting_method_id, AccountingMethod.all, :id, :accounting_method_desc, prompt: true) %></div>
    </div>

      <div class="row">
        <div class="col-md-2">
      <%= form.label :total_asset , "Total Assets:"%></div>
          <div class="col-sm-2">$
      <%= form.text_field :total_asset %></div>
        <div class="col-sm-3">
          <a data-toggle="tooltip" data-placement="Right" title="Total assets from your balance sheet.">?</a></div>

    </div>

      <div class="row">
        <div class="col-md-2">
      <%= form.label :cash_on_hand , "Cash on Hand:"%></div>
        <div class="col-sm-2">$
      <%= form.text_field :cash_on_hand %></div>
        <div class="col-sm-2">
          <a data-toggle="tooltip" data-placement="Right" title="Total cash from your balance sheet.">?</a></div>

    </div>

      <div class="row">
        <div class="col-md-2">
      <%= form.label :accounts_r , "Accounts Recievable:"%></div>
        <div class="col-sm-2">$
      <%= form.text_field :accounts_r %></div>
        <div class="col-sm-2">
          <a data-toggle="tooltip" data-placement="Right" title="Trade accounts receivable only please. Does not include notes and loans.">?</a></div>

    </div>

      <div class="row">
        <div class="col-md-2">
      <%= form.label :inventory , "Inventory:"%></div>
        <div class="col-sm-2">$
      <%= form.text_field :inventory %></div>
        <div class="col-sm-2">
          <a data-toggle="tooltip" data-placement="Right" title="Value (at cost) of your sellable inventory">?</a></div>
    </div>

      <div class="row">
        <div class="col-md-2">
      <%= form.label :real_estate_value, "Real Estate Value:" %></div>
        <div class="col-sm-2">$
      <%= form.text_field :real_estate_value %></div>
        <div class="col-sm-2">
          <a data-toggle="tooltip" data-placement="Right" title="If land and buildings are separated on the balance sheet, please combine the two.">?</a></div>

    </div>

      <div class="row">
        <div class="col-md-2">
      <%= form.label :ffe_v, "Furniture, Fixtures, Equipment, and Vehicles" %></div>
        <div class="col-sm-2">$
      <%= form.text_field :ffe_v %></div>
        <div class="col-sm-2">
          <a data-toggle="tooltip" data-placement="Right" title="Furniture, fixtures, equipment and vehicles. This normally lists your original cost.">?</a></div>

    </div>

      <div class="row">
        <div class="col-md-2">
      <%= form.label :accum_d , "Accumulated Depreciation:"%></div>
        <div class="col-sm-2">$
      <%= form.text_field :accum_d %></div>
        <div class="col-sm-2">
          <a data-toggle="tooltip" data-placement="Right" title="Enter this as a negative amount.">?</a></div>
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-sm-2" align="right">1 of 2</div>
    </div>
    <div align="center"><input type="button" onclick="shows_form_part(2)" value="Next"></div>
    </div>

    <div id="form_part2" style="display: none;">
      <div class="row">
        <div class="col-md-2">
      <%= form.label :accum_a , "Accumulated Ammortization:"%></div>
        <div class="col-sm-2">$
      <%= form.text_field :accum_a %></div>
        <div class="col-sm-2">
          <a data-toggle="tooltip" data-placement="Right" title="Not applicable in all cases. May not exist on your balance sheet.">?</a></div>
      </div>

      <div class="row">
        <div class="col-md-2">
      <%= form.label :total_liability , "Total Liability:"%></div>
        <div class="col-sm-2">$
      <%= form.text_field :total_liability %></div>
        <div class="col-sm-2">
          <a data-toggle="tooltip" data-placement="Right" title="Total liabilities from your Balance Sheet">?</a></div>

    </div>

      <div class="row">
        <div class="col-md-2">
      <%= form.label :accounts_p , "Accounts Payable:"%></div>
        <div class="col-sm-2">$
      <%= form.text_field :accounts_p %></div>
        <div class="col-sm-2">
          <a data-toggle="tooltip" data-placement="Right" title="Trade accounts payable, not amortized debt.">?</a></div>
    </div>

      <div class="row">
        <div class="col-md-2">
      <%= form.label :bank_debt , "Bad Debt:"%></div>
        <div class="col-sm-2">$
      <%= form.text_field :bank_debt %></div>
        <div class="col-sm-2">
          <a data-toggle="tooltip" data-placement="Right" title="Equipment loans, lines of credit, other bank or finance company loans. Should not include shareholder loans.">?</a></div>
      </div>


      <div class="row">
        <div class="col-md-2">
      <%= form.label :cash_req, "Cash Requirements"%></div>
        <div class="col-sm-2">$
      <%= form.text_field :cash_req %></div>
        <div class="col-sm-2">
          <a data-toggle="tooltip" data-placement="Right" title="How much cash do you need to run the business (i.e. working capital)">?</a></div>

    </div>

      <div class="row">
        <div class="col-md-2">
      <%= form.label :inv_req , "Inventory Requirements:"%></div>
        <div class="col-sm-2">$
      <%= form.text_field :inv_req %></div>
        <div class="col-sm-2">
          <a data-toggle="tooltip" data-placement="Right" title="How much inventory (at cost) should be kept on hand to efficiently run the business? If a seasonal business, then please list an average amount, not the high or low.">?</a></div>

    </div>

      <div class="row">
        <div class="col-md-2">
      <%= form.label :curr_ffe_v , "Current Furniture, Fixtures, Equipment, and Vehicle Value:"%></div>
        <div class="col-sm-2">$
      <%= form.text_field :curr_ffe_v %></div>
        <div class="col-sm-2">
          <a data-toggle="tooltip" data-placement="Right" title="Business Owners know the equipment better than anybody in most cases. What is your opinion of the current value of the furniture, fixtures, equipment and vehicles? In most cases, it will be less than replacement cost but more than book value.">?</a></div>

    </div>

      <div class="row">
        <div class="col-md-2">
      <%= form.label :real_estate_est, "Real Estate Estimate:" %></div>
        <div class="col-sm-2">$
      <%= form.text_field :real_estate_est %></div>
        <div class="col-sm-2">
          <a data-toggle="tooltip" data-placement="Right" title="Your estimate of value of the real estate where the business is located whether you own it or not.">?</a></div>

    </div>

      <div class="row">
        <div class="col-md-2">
      <%= form.label :sheet_comment, "Sheet Comments:" %></div>
        <div class="col-sm-2">
      <%= form.text_area :sheet_comment %></div>
        <div class="col-sm-2">
          <a data-toggle="tooltip" data-placement="Right" title="Please add any comments you feel are relevant to your entries.">?</a></div>

    </div>
      <% if current_user.is_broker? %>
      <div class="row">
        <div class="col-md-2">
      <%= form.label :balance_sheet_status_id, "Balance Sheet Status:" %></div>
        <div class="col-sm-2">
          <%= form.collection_select :balance_sheet_status_id, BalanceSheetStatus.all, :id, :sheet_desc %></div>
    </div>
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-sm-2" align="right">2 of 2</div>
        </div>
        <% end %>



      <div align="center">
        <input type="button" onclick="shows_form_part(1)" value="Back">
        <input type="submit" onclick="submit()" value="Save/Submit">
      </div>
    </div>
  </div>

  </form>
  <% end %>

<script type="text/javascript">
    function checkForm(form) {

        if (!form.terms.checked) {
            alert("Please indicate that you accept the Terms and Conditions");
            form.terms.focus();
            return false;
        }
        return true;
    }
</script>