<nav1>
  <ul>
    <% if current_user.get_org || current_user.is_broker? %>
  <li>  <%= link_to 'Business Information', controller: "organizations", action: "edit", id:@balance_sheet.organization.id%> </li>
    <li><%= link_to 'Balance Sheet', controller: "balance_sheets", action: "edit", id: @balance_sheet %></li>
      <% if @balance_sheet.organization.get_stmts != [] %>
      <li> <%= link_to 'Income Statement', controller: "organizations", action: "org_statements", id: @balance_sheet.organization.id %></li>
      <% else %>
      <li>  <%= link_to 'Income Statement', controller: "income_statements", action: "new", id: @balance_sheet.organization.get_stmts %> </li>
      <%end %>
      <% if current_user.is_broker? && @balance_sheet.organization.appraisal_calcs[0] %>
        <li>  <%= link_to 'Appraisal', controller: "appraisal_calcs", action: "edit", id: @balance_sheet.organization.appraisal_calcs[0] %> </li>
      <% end %>
      <li>
        <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
      </li>
      <% else %>
    <li>  <%= link_to 'Business Information' , controller: "organizations", action: "new", id: @balance_sheet.organization.user %> </li>
      <li>
        <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
      </li>
      <% end %>
  </ul>
</nav1>
<h1>Editing Balance Sheet</h1>
<% @organization = @balance_sheet.organization %>
<%= render 'form', balance_sheet: @balance_sheet %>