<p id="notice"><%= notice %></p>

<h1>Balance Sheets</h1>

<table>
  <thead>
    <tr>
      <th>Organization</th>
      <th>Financial source type</th>
      <th>Sheet date</th>
      <th>Accounting method</th>
      <th>Total asset</th>
      <th>Cash on hand</th>
      <th>Accounts r</th>
      <th>Inventory</th>
      <th>Real estate value</th>
      <th>Ffe v</th>
      <th>Accum d</th>
      <th>Accum a</th>
      <th>Other asset</th>
      <th>Total liability</th>
      <th>Accounts p</th>
      <th>Bank debt</th>
      <th>Other liability</th>
      <th>Cash req</th>
      <th>In req</th>
      <th>Curr ffe v</th>
      <th>Real estate est</th>
      <th>Sheet comment</th>
      <th>Balance sheet status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @balance_sheets.each do |balance_sheet| %>
      <tr>
        <td><%= balance_sheet.organization.org_name %></td>
        <td><%= balance_sheet.financial_source_type.financial_source_type_desc %></td>
        <td><%= balance_sheet.sheet_date %></td>
        <td><%= balance_sheet.accounting_method.accounting_method_desc %></td>
        <td><%= balance_sheet.total_asset %></td>
        <td><%= balance_sheet.cash_on_hand %></td>
        <td><%= balance_sheet.accounts_r %></td>
        <td><%= balance_sheet.inventory %></td>
        <td><%= balance_sheet.real_estate_value %></td>
        <td><%= balance_sheet.ffe_v %></td>
        <td><%= balance_sheet.accum_d %></td>
        <td><%= balance_sheet.accum_a %></td>
        <td><%= balance_sheet.other_asset %></td>
        <td><%= balance_sheet.total_liability %></td>
        <td><%= balance_sheet.accounts_p %></td>
        <td><%= balance_sheet.bank_debt %></td>
        <td><%= balance_sheet.other_liability %></td>
        <td><%= balance_sheet.cash_req %></td>
        <td><%= balance_sheet.inv_req %></td>
        <td><%= balance_sheet.curr_ffe_v %></td>
        <td><%= balance_sheet.real_estate_est %></td>
        <td><%= balance_sheet.sheet_comment %></td>
        <td><%= balance_sheet.balance_sheet_status.sheet_desc %></td>
        <td><%= link_to 'View', balance_sheet %></td>
        <td><%= link_to 'Edit', edit_balance_sheet_path(balance_sheet) %></td>
        <td><%= link_to 'Delete', balance_sheet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>

    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Balance Sheet', new_balance_sheet_path %>
