<p id="notice"><%= notice %></p>

<nav1>
  <ul>
    <% if current_user.get_org %>
  <li>  <%= link_to 'Business Information', controller: "organizations", action: "edit", id: current_user.get_org.id%> </li>
      <% if current_user.get_org.get_balance_sheet %>
    <li><%= link_to 'Balance Sheet', controller: "balance_sheets", action: "edit", id: current_user.get_org.get_balance_sheet %></li>
      <% else %>
    <li>    <%= link_to 'Balance Sheet', controller: "balance_sheets", action: "new", id: current_user.get_org.get_balance_sheet %> </li>
        <%end %>
      <% if current_user.get_org.get_stmts != [] %>
      <li> <%= link_to 'Income Statement', controller: "organizations", action: "org_statements", id: current_user.get_org.id %></li>
      <% else %>
      <li>  <%= link_to 'Income Statement', controller: "income_statements", action: "new", id: current_user.get_org.get_stmts %> </li>
      <%end %>
      <% else %>
    <li>  <%= link_to 'Business Information' , controller: "organizations", action: "new", id: current_user%> </li>
      <% end %>
  </ul>
</nav1>

<p>
  <strong>Organization:</strong>
  <%= @balance_sheet.organization.org_name %>
</p>

<p>
  <strong>Financial Source Type:</strong>
  <%= @balance_sheet.financial_source_type.financial_source_type_desc %>
</p>

<p>
  <strong>Sheet Date:</strong>
  <%= @balance_sheet.sheet_date %>
</p>

<p>
  <strong>Accounting Method:</strong>
  <%= @balance_sheet.accounting_method.accounting_method_desc %>
</p>

<p>
  <strong>Total Assets:</strong>
  <%= @balance_sheet.total_asset %>
</p>

<p>
  <strong>Cash on Hand:</strong>
  <%= @balance_sheet.cash_on_hand %>
</p>

<p>
  <strong>Accounts Receivable:</strong>
  <%= @balance_sheet.accounts_r %>
</p>

<p>
  <strong>Inventory:</strong>
  <%= @balance_sheet.inventory %>
</p>

<p>
  <strong>Real Estate Value:</strong>
  <%= @balance_sheet.real_estate_value %>
</p>

<p>
  <strong>Furniture, Fixtures, Equipment, and Vehicles:</strong>
  <%= @balance_sheet.ffe_v %>
</p>

<p>
  <strong>Accumulated Depreciation:</strong>
  <%= @balance_sheet.accum_d %>
</p>

<p>
  <strong>Accumulated Amortization:</strong>
  <%= @balance_sheet.accum_a %>
</p>

<p>
  <strong>Other Assets:</strong>
  <%= @balance_sheet.other_asset %>
</p>

<p>
  <strong>Total Liabilities:</strong>
  <%= @balance_sheet.total_liability %>
</p>

<p>
  <strong>Accounts Payable:</strong>
  <%= @balance_sheet.accounts_p %>
</p>

<p>
  <strong>Bank Debt:</strong>
  <%= @balance_sheet.bank_debt %>
</p>

<p>
  <strong>Other Liabilities:</strong>
  <%= @balance_sheet.other_liability %>
</p>

<p>
  <strong>Cash Requirements:</strong>
  <%= @balance_sheet.cash_req %>
</p>

<p>
  <strong>Inventory Requirements:</strong>
  <%= @balance_sheet.inv_req %>
</p>

<p>
  <strong>Current Furniture, Fixtures, Equipment, and Vehicles Value:</strong>
  <%= @balance_sheet.curr_ffe_v %>
</p>

<p>
  <strong>Real Estate Eatimate:</strong>
  <%= @balance_sheet.real_estate_est %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @balance_sheet.sheet_comment %>
</p>
