<% complete_client_report = Organization.where(org_status_id: 1) %>
<% pending_client_input_report = Organization.all %>
<% pending_appraisals_report = AppraisalCalc.all.where(appraisal_calc_status_id: 2) %>
<% complete_appraisals_report = AppraisalCalc.all.where(appraisal_calc_status_id: 1) %>
<% pending_client_input_count = 0 %>
<% pending_client_input_report.each do |oorg|
  if (oorg.check_balance_sheet_pending != 'Complete' || oorg.check_stmt_pending != 'Complete')
    pending_client_input_count += 1
  end
  end
%>

<div>
  <h1>Appraiser Dashboard</h1>
</div>
<div align = "center" style=" display: inline-block; padding: 10% 20% 20% 10%;">
  <div align = "center" class="row">
    <div class="col-lg-5">
      <%= link_to '<button type="button" style="background-color: #F8997C; position:relative;"> Pending Client Input'.html_safe +
                      image_tag("collaboration.svg", :size => "50x50", :align => "right" ) + '</br> <div style="position:absolute; bottom:0;">'.html_safe +
                      pending_client_input_count.to_s.html_safe + '</div></button>'.html_safe,
                  'organizations/pending_client_input_report' %> </div>
      <div class="col-lg-7">
      <%= link_to '<button type="button" style="background-color: #F8EE7C; position:relative;"> Appraisal Work In Progress'.html_safe +
                      image_tag("atom.svg", :size => "50x50", :align => "right" ) + '</br> <div style="position:absolute; bottom:0;">'.html_safe +
                      pending_appraisals_report.count.to_s.html_safe + '</div></button>'.html_safe,
                  'appraisal_calcs/pending_appraisal_report' %></div>
      </div>
      <div align = "center" class="row">
        <div class="col-lg-5">
      <%= link_to '<button type="button" style="background-color: #D3A7F8; position:relative;"> Clients'.html_safe +
                      image_tag("contact.svg", :size => "50x50", :align => "right" ) + '</br> <div style="position:absolute; bottom:0;">'.html_safe +
                      complete_client_report.count.to_s.html_safe + '</div></button>'.html_safe,
                  'organizations/complete_client_report' %></div>
      <div class="col-lg-7">
      <%= link_to '<button type="button" style="background-color: #A5FFBD; position:relative;"> Appraisals Completed'.html_safe +
                      image_tag("contact.svg", :size => "50x50", :align => "right" ) + '</br> <div style="position:absolute; bottom:0;">'.html_safe +
                      complete_appraisals_report.count.to_s.html_safe + '</div></button>'.html_safe,
                  'appraisal_calcs/completed_appraisal_report' %></div>
  </div>
  </div>

