<%= %>

<div>
  <h1>Main Menu</h1>
</div>
<div align = "center" style=" display: inline-block; padding: 10% 5% 20% 5%;">
  <% if current_user.get_org %>
  <%= link_to '<button type="button" style="background-color: #77D6F8;"> Business Information'.html_safe +
                  image_tag("contact.svg", :size => "50x50", :align => "right" ) + '</br> Edit  </button>'.html_safe,
              'organizations/' + current_user.get_org.id.to_s + '/edit' %>
    <% if current_user.get_org.get_balance_sheet %>
    <%= link_to '<button type="button" style="background-color: #FAB7A3; ">Balance Sheet'.html_safe +
                 image_tag("contract.png", :size => "50x50", :align => "right" ) + '</br> Edit  </button>'.html_safe,
              'balance_sheets/' + current_user.get_org.get_balance_sheet.id.to_s + '/edit' %>
    <% else %>
      <%= link_to '<button type="button" style="background-color: #FAB7A3; ">Balance Sheet'.html_safe +
                      image_tag("contract.png", :size => "50x50", :align => "right" ) + '</br> New  </button>'.html_safe,
                  'balance_sheets/new', { :org_id => current_user.get_org.id } %>
      <%end %>
    <% if current_user.get_org.get_stmts != [] %>
      <%= link_to '<button type="button" style="background-color: #FFD78B;">Income Statement'.html_safe +
                      image_tag("contract.png", :size => "50x50", :align => "right" ) + '</br> Edit </button>'.html_safe,
                  '/organizations/org_statements/' + current_user.get_org.id.to_s %>
    <% else %>
      <%= link_to '<button type="button" style="background-color: #FFD78B;">Income Statement'.html_safe +
                      image_tag("contract.png", :size => "50x50", :align => "right" ) + '</br> New </button>'.html_safe,
                  'income_statements/new' %>
    <%end %>
    <% else %>
    <%= link_to '<button type="button" style="background-color: #77D6F8;"> Business Information'.html_safe +
                    image_tag("contact.svg", :size => "50x50", :align => "right" ) + '</br> New  </button>'.html_safe,
                'organizations/new' %>
    <% end %>
</div>
