<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Term & Conditions</title>
</head>
<body>

<form onsubmit="return checkForm(this);">

    <p align="center">Agreed to Term and Conditions <input type="checkbox" name="terms"> </p>


    <input type="submit">
</form>

    <script type="text/javascript">
        function checkForm(form) {

            if (!form.terms.checked) {
                alert("Please indicate that you accept the Terms and Conditions");
                form.terms.focus();
                return false;
            }
            return true;
        }
    </script>
</form>
</body>
</html>
