<%= form_with(model: finance_rec_ranking, local: true) do |form| %>
  <% if finance_rec_ranking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(finance_rec_ranking.errors.count, "error") %> prohibited this finance_rec_ranking from being saved:</h2>

      <ul>
      <% finance_rec_ranking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :finance_rec_desc %>
    <%= form.text_field :finance_rec_desc %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
