<p id="notice"><%= notice %></p>

<h1>Finance Rec Rankings</h1>

<table>
  <thead>
    <tr>
      <th>Finance rec desc</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @finance_rec_rankings.each do |finance_rec_ranking| %>
      <tr>
        <td><%= finance_rec_ranking.finance_rec_desc %></td>
        <td><%= link_to 'View', finance_rec_ranking %></td>
        <td><%= link_to 'Edit', edit_finance_rec_ranking_path(finance_rec_ranking) %></td>
        <td><%= link_to 'Delete', finance_rec_ranking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Finance Rec Ranking', new_finance_rec_ranking_path %>
