<p id="notice"><%= notice %></p>

<p>
  <strong>Finance rec desc:</strong>
  <%= @finance_rec_ranking.finance_rec_desc %>
</p>

<%= link_to 'Edit', edit_finance_rec_ranking_path(@finance_rec_ranking) %> |
<%= link_to 'Back', finance_rec_rankings_path %>
