<%= form_with(model: business_type, local: true) do |form| %>
  <% if business_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(business_type.errors.count, "error") %> prohibited this business_type from being saved:</h2>

      <ul>
      <% business_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :business_type_desc %>
    <%= form.text_field :business_type_desc %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
