<p id="notice"><%= notice %></p>

<h1>Business Types</h1>

<table>
  <thead>
    <tr>
      <th>Business type desc</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @business_types.each do |business_type| %>
      <tr>
        <td><%= business_type.business_type_desc %></td>
        <td><%= link_to 'View', business_type %></td>
        <td><%= link_to 'Edit', edit_business_type_path(business_type) %></td>
        <td><%= link_to 'Delete', business_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Business Type', new_business_type_path %>
