<p id="notice"><%= notice %></p>

<p>
  <strong>Business type desc:</strong>
  <%= @business_type.business_type_desc %>
</p>

<%= link_to 'Edit', edit_business_type_path(@business_type) %> |
<%= link_to 'Back', business_types_path %>
