<%= form_with(model: hist_org_performance_ranking, local: true) do |form| %>
  <% if hist_org_performance_ranking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(hist_org_performance_ranking.errors.count, "error") %> prohibited this hist_org_performance_ranking from being saved:</h2>

      <ul>
      <% hist_org_performance_ranking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :hist_org_performance_ranking_desc %>
    <%= form.text_field :hist_org_performance_ranking_desc %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
