<h1>Editing Hist Org Performance Ranking</h1>

<%= render 'form', hist_org_performance_ranking: @hist_org_performance_ranking %>

<%= link_to 'Show', @hist_org_performance_ranking %> |
<%= link_to 'Back', hist_org_performance_rankings_path %>
