<p id="notice"><%= notice %></p>

<h1>Hist Org Performance Rankings</h1>

<table>
  <thead>
    <tr>
      <th>Hist org performance ranking desc</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hist_org_performance_rankings.each do |hist_org_performance_ranking| %>
      <tr>
        <td><%= hist_org_performance_ranking.hist_org_performance_ranking_desc %></td>
        <td><%= link_to 'View', hist_org_performance_ranking %></td>
        <td><%= link_to 'Edit', edit_hist_org_performance_ranking_path(hist_org_performance_ranking) %></td>
        <td><%= link_to 'Delete', hist_org_performance_ranking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hist Org Performance Ranking', new_hist_org_performance_ranking_path %>
