<p id="notice"><%= notice %></p>

<p>
  <strong>Hist org performance ranking desc:</strong>
  <%= @hist_org_performance_ranking.hist_org_performance_ranking_desc %>
</p>

<%= link_to 'Edit', edit_hist_org_performance_ranking_path(@hist_org_performance_ranking) %> |
<%= link_to 'Back', hist_org_performance_rankings_path %>
