<%= form_with(model: appraisal_calc_status, local: true) do |form| %>
  <% if appraisal_calc_status.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(appraisal_calc_status.errors.count, "error") %> prohibited this appraisal_calc_status from being saved:</h2>

      <ul>
      <% appraisal_calc_status.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :calc_status_desc %>
    <%= form.text_field :calc_status_desc %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
