<h1>Editing Appraisal Calc Status</h1>

<%= render 'form', appraisal_calc_status: @appraisal_calc_status %>

<%= link_to 'Show', @appraisal_calc_status %> |
<%= link_to 'Back', appraisal_calc_statuses_path %>
