<p id="notice"><%= notice %></p>

<h1>Appraisal Calc Statuses</h1>

<table>
  <thead>
    <tr>
      <th>Calc status desc</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @appraisal_calc_statuses.each do |appraisal_calc_status| %>
      <tr>
        <td><%= appraisal_calc_status.calc_status_desc %></td>
        <td><%= link_to 'View', appraisal_calc_status %></td>
        <td><%= link_to 'Edit', edit_appraisal_calc_status_path(appraisal_calc_status) %></td>
        <td><%= link_to 'Delete', appraisal_calc_status, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Appraisal Calc Status', new_appraisal_calc_status_path %>
