<p id="notice"><%= notice %></p>

<p>
  <strong>Calc status desc:</strong>
  <%= @appraisal_calc_status.calc_status_desc %>
</p>

<%= link_to 'Edit', edit_appraisal_calc_status_path(@appraisal_calc_status) %> |
<%= link_to 'Back', appraisal_calc_statuses_path %>
