<%= form_with(model: stakeholder_status, local: true) do |form| %>
  <% if stakeholder_status.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(stakeholder_status.errors.count, "error") %> prohibited this stakeholder_status from being saved:</h2>

      <ul>
      <% stakeholder_status.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :stakeholder_status_desc %>
    <%= form.text_field :stakeholder_status_desc %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
