<p id="notice"><%= notice %></p>

<h1>Stakeholder Statuses</h1>

<table>
  <thead>
    <tr>
      <th>Stakeholder status desc</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stakeholder_statuses.each do |stakeholder_status| %>
      <tr>
        <td><%= stakeholder_status.stakeholder_status_desc %></td>
        <td><%= link_to 'View', stakeholder_status %></td>
        <td><%= link_to 'Edit', edit_stakeholder_status_path(stakeholder_status) %></td>
        <td><%= link_to 'Delete', stakeholder_status, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Stakeholder Status', new_stakeholder_status_path %>
