<p id="notice"><%= notice %></p>

<p>
  <strong>Stakeholder status desc:</strong>
  <%= @stakeholder_status.stakeholder_status_desc %>
</p>

<%= link_to 'Edit', edit_stakeholder_status_path(@stakeholder_status) %> |
<%= link_to 'Back', stakeholder_statuses_path %>
