<%= form_with(model: facility_type, local: true) do |form| %>
  <% if facility_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(facility_type.errors.count, "error") %> prohibited this facility_type from being saved:</h2>

      <ul>
      <% facility_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :facility_type_desc %>
    <%= form.text_field :facility_type_desc %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
