<p id="notice"><%= notice %></p>

<p>
  <strong>Facility type desc:</strong>
  <%= @facility_type.facility_type_desc %>
</p>

<%= link_to 'Edit', edit_facility_type_path(@facility_type) %> |
<%= link_to 'Back', facility_types_path %>
