<%= form_with(model: depth_of_management_ranking, local: true) do |form| %>
  <% if depth_of_management_ranking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(depth_of_management_ranking.errors.count, "error") %> prohibited this depth_of_management_ranking from being saved:</h2>

      <ul>
      <% depth_of_management_ranking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :depth_of_mgmt_desc %>
    <%= form.text_field :depth_of_mgmt_desc %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
