<h1>Editing Depth Of Management Ranking</h1>

<%= render 'form', depth_of_management_ranking: @depth_of_management_ranking %>

<%= link_to 'Show', @depth_of_management_ranking %> |
<%= link_to 'Back', depth_of_management_rankings_path %>
