<p id="notice"><%= notice %></p>

<h1>Depth Of Management Rankings</h1>

<table>
  <thead>
    <tr>
      <th>Depth of mgmt desc</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @depth_of_management_rankings.each do |depth_of_management_ranking| %>
      <tr>
        <td><%= depth_of_management_ranking.depth_of_mgmt_desc %></td>
        <td><%= link_to 'View', depth_of_management_ranking %></td>
        <td><%= link_to 'Edit', edit_depth_of_management_ranking_path(depth_of_management_ranking) %></td>
        <td><%= link_to 'Delete', depth_of_management_ranking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Depth Of Management Ranking', new_depth_of_management_ranking_path %>
