<p id="notice"><%= notice %></p>

<p>
  <strong>Depth of mgmt desc:</strong>
  <%= @depth_of_management_ranking.depth_of_mgmt_desc %>
</p>

<%= link_to 'Edit', edit_depth_of_management_ranking_path(@depth_of_management_ranking) %> |
<%= link_to 'Back', depth_of_management_rankings_path %>
