/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*header Styles Start */
body {
    margin: 25px;
}

header {
    content: '';
    display: table;
    clear: both;
    padding-bottom: 15px;
    border-bottom: 2px solid gray;
    width: 100%;
}



nav{
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;

}

nav li {
    display: inline-block;
    margin-left: 10px;
    padding-top: 50px;
    font-size: 20px;
    background: transparent !important;

}

nav a {
    color: #444;
    text-decoration: none;
}



table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;

}

/*Table Style Ends*/


/* Client form Navigation bar Styles Start */
nav1 ul {
    text-align: center;
    margin: 0;
    padding: 0;
    list-style: none;
    border-bottom: 2px solid gray;

}

nav1 li {
    display: inline-block;
    margin-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 20px;

}

nav1 a {
    color: #444;
    text-decoration: none;
}
/* appraiser_home style button start */

button {
    text-align: justify;
    text-decoration: none;
    font-size: 20px;
    width: 300px;
    height: 100px;
  }

button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}




/* appraiser_home style button ends */
/* report button style start */
.button{
  width: 150px;
  height: 50px;
  background-color: #555555;
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
}

/* report button style end */

/* Client form Navigation bar Styles End*/

/*Table Style Start*/
td {
    border: 1px solid #ddd;
    padding: 5px;
    Text-align: left;
    height: 18px;
    white-space:nowrap;
}

tr:nth-child(even){ background-color: #ddd;}

tr:hover {background-color: #77D6F8;}

th {
    border: 1px solid #ddd;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    background-color: #77D6F8;
    color: black;
    height: 18px;
    white-space:nowrap;
}

/*Table Style Ends*/

/* form style start*/

div {
  padding: 5px;
}
/*form style ends */

/*  login style starts*/
.form-inputs {

  width: 400px;

}

/* login style ends */

.row {

align: center;
  float: none;
  margin: 0 auto;
}

.col-sm-2{
  width: 200px;
}

.hbutton{
  padding-top: 40px;
  text-align: justify;
  text-decoration: none;
  font-size: 20px;
  width: 300px;
  height: 100px;
}

.hbutton2{
  padding-top: 30px;
  text-align: justify;
  text-decoration: none;
  font-size: 20px;
  width: 300px;
  height: 100px;

}