// Place all the styles related to the Balance_Sheets controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/






nav1 ul {
  text-align: center;
  margin: 0;
  padding: 0;
  list-style: none;
  border-bottom: 2px solid gray;

}

nav1 li {
  display: inline-block;
  margin-right: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;

}

nav1 a {
  color: #444;
  text-decoration: none;
}


