<h1>Editing Hist Earning Ranking</h1>

<%= render 'form', hist_earning_ranking: @hist_earning_ranking %>

<%= link_to 'Show', @hist_earning_ranking %> |
<%= link_to 'Back', hist_earning_rankings_path %>
