<p id="notice"><%= notice %></p>

<h1>Hist Earning Rankings</h1>

<table>
  <thead>
    <tr>
      <th>Hist earning desc</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hist_earning_rankings.each do |hist_earning_ranking| %>
      <tr>
        <td><%= hist_earning_ranking.hist_earning_desc %></td>
        <td><%= link_to 'View', hist_earning_ranking %></td>
        <td><%= link_to 'Edit', edit_hist_earning_ranking_path(hist_earning_ranking) %></td>
        <td><%= link_to 'Delete', hist_earning_ranking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hist Earning Ranking', new_hist_earning_ranking_path %>
