<p id="notice"><%= notice %></p>

<p>
  <strong>Hist earning desc:</strong>
  <%= @hist_earning_ranking.hist_earning_desc %>
</p>

<%= link_to 'Edit', edit_hist_earning_ranking_path(@hist_earning_ranking) %> |
<%= link_to 'Back', hist_earning_rankings_path %>
