


  <%= form_with(model: organization, local: true) do |form| %>
    <% if organization.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(organization.errors.count, "error") %> prohibited this organization from being saved:</h2>

        <ul>
          <% organization.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>



<form onload="shows_form_part(1); ">

    <div id="form_part1">

      <div class="row">
        <div class="col-md-2">
          <%= form.label :org_name, "Organization Name:"  %></div>
        <div class="col-md-2">
          <%= form.text_field :org_name %> </div>
        <div class="col-sm-3">
          <a data-toggle="tooltip"  data-placement="Right" title="Name of the business.">?</a> </div>
      </div>

      <div class="row">
        <div class="col-md-2">
          <%= form.label :org_address, "Street Address:" %></div>
        <div class="col-md-2">
          <%= form.text_field :org_address %></div>
          <div class="col-sm-3">
          <a data-toggle="tooltip"  data-placement="Right" title="Where is the business located.">?</a></div>
      </div>

      <div class="row">
        <div class="col-md-2">
          <%= form.label :org_city , "City:"%></div>
        <div class="col-md-2">
          <%= form.text_field :org_city %></div>
      </div>

      <div class="row">
        <div class="col-md-2">
          <%= form.label :state_id, "State:" %></div>
        <div class="col-md-2">
          <%= form.collection_select :state_id, State.all, :id, :state_name %></div>
          <div class="col-sm-3">
          <a data-toggle="tooltip"  data-placement="Right" title="State where currently registered.">?</a></div>
      </div>

      <div class="row">
        <div class="col-md-2">
          <%= form.label :org_zip, "Zip Code:"%></div>
        <div class="col-md-2">
          <%= form.number_field :org_zip %></div>
      </div>

      <div class="row">
        <div class="col-md-2">
          <%= form.label :org_website, "Organization Website:" %></div>
        <div class="col-md-2">
          <%= form.text_field :org_website %></div>
          <div class="col-sm-3">
          <a data-toggle="tooltip"  data-placement="Right" title="List the business website or enter none if it doesn't have one.">?</a></div>
      </div>

      <div class="row">
        <div class="col-md-2">
          <%= form.label :founding_year, "Founding Year:" %></div>
        <div class="col-md-2">
          <%= form.number_field :founding_year %></div>
          <div class="col-sm-3">
          <a data-toggle="tooltip"  data-placement="Right" title="Year your business was founded by you or anyone else.">?</a></div>
      </div>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-sm-2" align="right">1 of 3</div>
      </div>
      <div align="center">
       <input type="button" onclick="shows_form_part(2)" value="Next">
      </div>

    </div>

  <div id="form_part2" style="display: none;">

      <div class="row">
        <div class="col-md-2">
          <%= form.label :full_emp , "# Of Full-Time Employees:"%></div>
        <div class="col-md-2">
          <%= form.number_field :full_emp %></div>
      </div>

      <div class="row">
        <div class="col-md-2">
          <%= form.label :part_emp, " # Of  Part-Time Employees:" %></div>
        <div class="col-md-2">
          <%= form.number_field :part_emp %></div>
      </div>

        <div class="row">
        <div class="col-md-2">
          <%= form.label :ownership_type_id, "Ownership Type:" %></div>
          <div class="col-md-2">
            <%= form.collection_select :ownership_type_id, OwnershipType.all, :id, :ownership_type_desc %></div>
            <div class="col-sm-3">
            <a data-toggle="tooltip"  data-placement="Right" title="Help">?</a></div>
          </div>

      <div class="row">
        <div class="col-md-2">
          <%= form.label :prim_naics, "Primary NAICS:" %></div>
        <div class="col-md-2">
          <%= form.number_field :prim_naics %></div>
          <div class="col-sm-3">
          <a data-toggle="tooltip"  data-placement="Right" title="Usually found on the first page of your business tax return. Please verify for accuracy at https://www.naics.com/search/">?</a></div>
      </div>

      <div class="row">
        <div class="col-md-2">
          <%= form.label :sec_naics , "Secondary NAICS: "%></div>
        <div class="col-md-2">
          <%= form.number_field :sec_naics %></div>
          <div class="col-sm-3">
          <a data-toggle="tooltip"  data-placement="Right" title="Secondary NAICS if you have more than one substantial source of revenue.">?</a></div>
      </div>

      <div class="row">
        <div class="col-md-2">
          <%= form.label :brief_desc_of_services, "Brief Description of Services:" %></div>
        <div class="col-md-2">
          <%= form.text_area :brief_desc_of_services %></div>
        <div class="col-sm-3">
          <a data-toggle="tooltip"  data-placement="Right" title="Brief description of your product or service. What does your business do?">?</a></div>
      </div>

      <div class="row">
        <div class="col-md-2">
          <%= form.label :real_estate_type_id , "Real Estate Type:"%></div>
        <div class="col-md-2">
          <%= form.collection_select :real_estate_type_id, RealEstateType.all, :id, :real_estate_type_desc %></div>
       </div>

      <div class="row">
        <div class="col-md-2">
          <%= form.label :real_estate_included, "Check This Box if Real Estate is Included in the Sale:" %></div>
        <div class="col-md-2">
          <%= form.check_box :real_estate_included %></div>
      </div>

      <div class="row">
        <div class="col-md-2">
          <%= form.label :futr_rent, "Future Rent:" %></div>
        <div class="col-md-2">$
          <%= form.text_field :futr_rent %></div>
          <div class="col-sm-3">
          <a data-toggle="tooltip"  data-placement="Right" title="Please enter the amount the annual rent will be for a buyer going forward. If the real estate will be included, then still enter an amount the property would demand if leased at market rate.">?</a></div>
      </div>

      <div class="row">
        <div class="col-md-2">
          <%= form.label :lease_expir_date, "Lease Expiration Date:"%></div>
        <div class="col-md-3">
          <%= form.date_select :lease_expir_date %></div>
          <div class="col-sm-3">
          <a data-toggle="tooltip"  data-placement="Right" title="Date the current term of your lease expires. If month to month or owned, list the end of this month.">?</a></div>
      </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-sm-2" align="right">2 of 3</div>
    </div>
      <div align="center">
        <input type="button" onclick="shows_form_part(1)" value="Back">
        <input type="button" onclick="shows_form_part(3)" value="Next">
      </div>

  </div>


<div id="form_part3" style="display: none;">

    <div class="row">
      <div class="col-md-2">
        <%= form.label :extend_date , "Extended Lease Date:"%></div>
      <div class="col-md-3">
        <%= form.date_select :extend_date %></div>
      <div class="col-sm-3">
        <a data-toggle="tooltip" data-placement="Right" title="Date the lease would expire if you exercised all options to extend. Or, if you own the real estate, then enter the date a buyer could lease to (Ex: 5-years, 10, etc.).">?</a></div>
    </div>

    <div class="row">
      <div class="col-md-2">
        <%= form.label :hist_earning_ranking_id, "Historical Earnings Ranking:"%></div>
      <div class="col-md-2">
        <%= form.collection_select :hist_earning_ranking_id, HistEarningRanking.all, :id, :hist_earning_desc%></div>
    </div>

    <div class="row">
      <div class="col-md-2">
        <%= form.label :finance_rec_ranking_id, "Financial Records Ranking:" %></div>
      <div class="col-md-2">
        <%= form.collection_select :finance_rec_ranking_id, FinanceRecRanking.all, :id, :finance_rec_desc %></div>
    </div>

    <div class="row">
      <div class="col-md-2">
        <%= form.label :depth_of_management_ranking_id, "Depth of Management Ranking:" %></div>
      <div class="col-md-2">
        <%= form.collection_select :depth_of_management_ranking_id, DepthOfManagementRanking.all, :id, :depth_of_mgmt_desc %></div>
    </div>

    <div class="row">
      <div class="col-md-2">
        <%= form.label :loc_and_fac_ranking_id , "Locations and Facilities Ranking:"%></div>
      <div class="col-md-2">
        <%= form.collection_select :loc_and_fac_ranking_id, LocAndFacRanking.all, :id, :loc_and_fac_desc %></div>
    </div>

    <div class="row">
      <div class="col-md-2">
        <%= form.label :competition_ranking_id , "Industry Competition Ranking:"%></div>
      <div class="col-md-2">
        <%= form.collection_select :competition_ranking_id, CompetitionRanking.all, :id, :competition_desc %></div>
    </div>

    <div class="row">
      <div class="col-md-2">
        <%= form.label :diversification_ranking_id, "Diversification Ranking:" %></div>
      <div class="col-md-2">
        <%= form.collection_select :diversification_ranking_id, DiversificationRanking.all, :id, :diversification_desc %></div>
         </div>

    <div class="row">
      <div class="col-md-2">
        <%= form.label :equipment_sys_ranking_id, "Equipment and Systems Ranking:" %></div>
      <div class="col-md-2">
        <%= form.collection_select :equipment_sys_ranking_id, EquipmentSysRanking.all, :id, :eqp_sys_desc %></div>
    </div>

    <div class="row">
      <div class="col-md-2">
        <%= form.label :employee_skill_turnover_ranking_id, "Employee Skills and Turnover Ranking:" %></div>
      <div class="col-md-2">
        <%= form.collection_select :employee_skill_turnover_ranking_id, EmployeeSkillTurnoverRanking.all, :id, :emp_skill_turn_desc%></div>

    </div>

    <div class="row">
      <div class="col-md-2">
        <%= form.label :desirability_ranking_id, "Organization Desireability Ranking:" %></div>
      <div class="col-md-2">
        <%= form.collection_select :desirability_ranking_id, DesirabilityRanking.all, :id, :desirability_desc %></div>

    </div>

    <div class="row">
      <div class="col-md-2">
        <%= form.label :hist_org_performance_ranking_id , "Historical Organization Performance Ranking:"%></div>
      <div class="col-md-2">
        <%= form.collection_select :hist_org_performance_ranking_id, HistOrgPerformanceRanking.all, :id, :hist_org_performance_ranking_desc %></div>
    </div>

    <div class="row">
      <div class="col-md-2">
        <%= form.label :org_comment, "Organization Comments:" %></div>
      <div class="col-md-2">
        <%= form.text_area :org_comment %></div>
      <div class="col-sm-3">
        <a data-toggle="tooltip" data-placement="Right" title="Please add any comments you feel are relevant to your entries.">?</a></div>
    </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-sm-2" align="right">3 of 3</div>
  </div>
    <div align="center">
        <input type="button" onclick="shows_form_part(2)" value="Back">
        <input type="button" onclick="submit()" value="Save/Submit">
    </div>

</div>
</form>


<% end %>
