
<br>
<div class="hbutton" style="background-color: #D3A7F8;"> Clients <%= image_tag("contact.svg", :size => "50x50", :align => "right" ) %></div>
<br><br>

<table >
  <thead>
  <tr>
    <th>Organization</th>
    <th>Address</th>
    <th>City</th>
    <th>State</th>
    <th>Website</th>
    <th colspan="2"></th>
  </tr>
  </thead>

  <tbody>
  <% @complete_client_report.each do |organization| %>
    <% if organization.org_status.status_desc == "Current" %>
      <tr>
        <td><%= organization.org_name %></td>
        <td><%= organization.org_address %></td>
        <td><%= organization.org_city %></td>
        <td><%= organization.state.state_name %></td>
        <td><%= organization.org_website %></td>
        <td><%= link_to 'Show', organization %></td>
        <td><%= link_to 'Edit', edit_organization_path(organization) %></td>
        <td><%= link_to 'Delete', organization, :method => :delete %></td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>
<h4>Invite New Client</h4>
<%= form_with(model: User.new, :url =>{:controller => 'users/invites', :action => 'create'}, remote: true )do |f| %>
  <div>
    <%= f.text_field :email, required: true %>
  </div>
  <%= f.submit "Invite" %>
<%  end %>
<br>
<div align="right">
  <%= link_to '<button class="button"">Home</button>'.html_safe, '../appraiser_home' %>
</div>
