
<br>
<button type="button" style="background-color: #D3A7F8;">Clients <%= image_tag("contact.svg", :size => "50x50", :align => "right" ) %> </button>

<br><br>

<table >
  <thead>
  <tr>
    <th>Organization</th>
    <th>Address</th>
    <th>City</th>
    <th>State</th>
    <th>Website</th>
    <th colspan="2"></th>
  </tr>
  </thead>

  <tbody>
  <% @complete_client_report.each do |organization| %>
    <% if organization.org_status.status_desc == "Current" %>
      <tr>
        <td><%= organization.org_name %></td>
        <td><%= organization.org_address %></td>
        <td><%= organization.org_city %></td>
        <td><%= organization.state.state_name %></td>
        <td><%= organization.org_website %></td>
        <td><%= link_to 'Show', organization %></td>
        <td><%= link_to 'Edit', edit_organization_path(organization) %></td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>
