
<nav1>
  <ul>
    <% if current_user.get_org || current_user.is_broker? %>
  <li>  <%= link_to 'Business Information', controller: "organizations", action: "edit", id: @organization.id%> </li>
      <% if @organization.get_balance_sheet %>
    <li><%= link_to 'Balance Sheet', controller: "balance_sheets", action: "edit", id: @organization.get_balance_sheet %></li>
      <% else %>
    <li>    <%= link_to 'Balance Sheet', controller: "balance_sheets", action: "new", id: @organization.get_balance_sheet %> </li>
        <%end %>
      <% if @organization.get_stmts != [] %>
      <li> <%= link_to 'Income Statement', controller: "organizations", action: "org_statements", id: @organization.id %></li>
      <% else %>
      <li>  <%= link_to 'Income Statement', controller: "income_statements", action: "new", id: @organization.get_stmts %> </li>
      <%end %>
      <% if current_user.is_broker? && @organization.appraisal_calcs[0] %>
        <li>  <%= link_to 'Appraisal', controller: "appraisal_calcs", action: "edit", id: @organization.appraisal_calcs[0] %> </li>
      <% end %>
      <li>
        <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
      </li>
      <% end %>
  </ul>
</nav1>

<h3>Editing Organization</h3>

<%= render 'form', organization: @organization %>
