<nav1>
  <ul>
    <% if current_user.get_org %>
  <li>  <%= link_to 'Business Information', controller: "organizations", action: "edit", id: current_user.get_org.id%> </li>
      <% if current_user.get_org.get_balance_sheet %>
    <li><%= link_to 'Balance Sheet', controller: "balance_sheets", action: "edit", id: current_user.get_org.get_balance_sheet %></li>
      <% else %>
    <li>    <%= link_to 'Balance Sheet', controller: "balance_sheets", action: "new", id: current_user.get_org.get_balance_sheet %> </li>
        <%end %>
      <% if current_user.get_org.get_stmts != [] %>
      <li> <%= link_to 'Income Statement', controller: "organizations", action: "org_statements", id: current_user.get_org.id %></li>
      <% else %>
      <li>  <%= link_to 'Income Statement', controller: "income_statements", action: "new", id: current_user.get_org.get_stmts %> </li>
      <%end %>
      <li>
        <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
      </li>
      <% else %>
    <li>  <%= link_to 'Business Information' , controller: "organizations", action: "new", id: current_user%> </li>
      <li>
        <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
      </li>
      <% end %>
  </ul>
</nav1>

<h3>Enter your Business Information</h3>
<%= render 'form', organization: @organization %>
