<p id="notice"><%= notice %></p>
<nav1>
  <ul>
    <% if current_user.get_org || current_user.is_broker? %>
      <li>  <%= link_to 'Business Information', controller: "organizations", action: "edit", id: @organization.id%> </li>
      <% if @organization.get_balance_sheet %>
        <li><%= link_to 'Balance Sheet', controller: "balance_sheets", action: "edit", id: @organization.get_balance_sheet %></li>
      <% else %>
        <li>    <%= link_to 'Balance Sheet', controller: "balance_sheets", action: "new", id: @organization.get_balance_sheet %> </li>
      <%end %>
      <% if @organization.get_stmts != [] %>
        <li> <%= link_to 'Income Statement', controller: "organizations", action: "org_statements", id: @organization.id %></li>
      <% else %>
        <li>  <%= link_to 'Income Statement', controller: "income_statements", action: "new", id: @organization.get_stmts %> </li>
      <%end %>
      <% if current_user.is_broker? && @organization.appraisal_calcs[0] %>
        <li>  <%= link_to 'Appraisal', controller: "appraisal_calcs", action: "edit", id: @organization.appraisal_calcs[0] %> </li>
      <% end %>
      <li>
        <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
      </li>
    <% end %>
  </ul>
</nav1>

<h1>Income Statements</h1>

<table>
  <thead>
    <tr>      
      <th>Statement Year</th>
      <th>Total Sales</th>
      <th>Pre-Tax Profit</th>
      <th>Status</th>
      <th>Comments</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @income_statements = @income_statements.sort_by {|inc| inc.stmt_year} %>
    <% @income_statements.each do |income_statement| %>
      <tr>
        <td><%= income_statement.stmt_year %></td>
        <td><%= income_statement.total_sales %></td>
        <td><%= income_statement.pretax_profit %></td>
        <td><%= income_statement.income_stmt_status.stmt_status_desc %></td>
        <td><%= income_statement.stmt_comment %></td>
        <td><%= link_to 'Edit', edit_income_statement_path(income_statement) %></td>
        <td><%= link_to 'Delete', income_statement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h4>
  Please enter the annual income statements for the last four years of your business.
  If your business has not existed for four years, then please include as many as you can.
</h4>
<br>

<%= link_to 'New Income Statement', new_income_statement_path %>
