
<br>
<div class="hbutton" style="background-color: #F8997C;">Pending Client Input <%= image_tag("collaboration.svg", :size => "50x50", :align => "right") %></div>
<br>
<table>
  <thead>
  <tr>
    <th>Organization</th>
    <th>Address</th>
    <th>City</th>
    <th>State</th>
    <th>Website</th>
    <th>Balance Sheet Status</th>
    <th>Income Statement Status</th>
  </tr>
  </thead>

  <tbody>
  <% @pending_client_input_report.each do |organization| %>
    <% if organization.check_balance_sheet_pending != 'Complete' or organization.check_stmt_pending != 'Complete' %>
      <tr>
        <td><%= organization.org_name %></td>
        <td><%= organization.org_address %></td>
        <td><%= organization.org_city %></td>
        <td><%= organization.state.state_name %></td>
        <td><%= organization.org_website %></td>
        <td><div style='float: left; display: inline;'><%= organization.check_balance_sheet_pending %> </div><div style='float: right; display: inline;'>
          <% if organization.get_balance_sheet %>
          <%= link_to 'Edit', edit_balance_sheet_path(organization.get_balance_sheet) %></div></td>
            <% end %>
        <td><div style='float: left; display: inline;'><%= organization.check_stmt_pending %> </div><div style='float: right; display: inline;'>
          <%= link_to 'Edit', ("/organizations/org_statements/" + organization.id.to_s) %></div></td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>

<br>
<div align="right">
  <%= link_to '<button class="button" >Home</button>'.html_safe, '../appraiser_home' %>
</div>
