<p id="notice"><%= notice %></p>
<nav1>
  <ul>
    <% if current_user.get_org %>
  <li>  <%= link_to 'Business Information', controller: "organizations", action: "edit", id: current_user.get_org.id%> </li>
      <% if current_user.get_org.get_balance_sheet %>
    <li><%= link_to 'Balance Sheet', controller: "balance_sheets", action: "edit", id: current_user.get_org.get_balance_sheet %></li>
      <% else %>
    <li>    <%= link_to 'Balance Sheet', controller: "balance_sheets", action: "new", id: current_user.get_org.get_balance_sheet %> </li>
        <%end %>
      <% if current_user.get_org.get_stmts != [] %>
      <li> <%= link_to 'Income Statement', controller: "organizations", action: "org_statements", id: current_user.get_org.id %></li>
      <% else %>
      <li>  <%= link_to 'Income Statement', controller: "income_statements", action: "new", id: current_user.get_org.get_stmts %> </li>
      <%end %>
      <% else %>
    <li>  <%= link_to 'Business Information' , controller: "organizations", action: "new", id: current_user%> </li>
      <% end %>
  </ul>
</nav1>

<p>
  <strong>Organization Name:</strong>
  <%= @organization.org_name %>
</p>

<p>
  <strong>Street Address:</strong>
  <%= @organization.org_address %>
</p>

<p>
  <strong>City:</strong>
  <%= @organization.org_city %>
</p>

<p>
  <strong>State:</strong>
  <%= @organization.state.state_name %>
</p>

<p>
  <strong>Zip Code:</strong>
  <%= @organization.org_zip %>
</p>

<p>
  <strong>Website:</strong>
  <%= @organization.org_website %>
</p>

<p>
  <strong>Full-TIme Employees:</strong>
  <%= @organization.full_emp %>
</p>

<p>
  <strong>Part-Time Employees:</strong>
  <%= @organization.part_emp %>
</p>

<p>
  <strong>Founding Year:</strong>
  <%= @organization.founding_year %>
</p>

<p>
  <strong>Ownership Type:</strong>
  <%= @organization.ownership_type.ownership_type_desc %>
</p>

<p>
  <strong>Primary NAICS:</strong>
  <%= @organization.prim_naics %>
</p>

<p>
  <strong>Secondary NAICS:</strong>
  <%= @organization.sec_naics %>
</p>

<p>
  <strong>Brief Description of Services:</strong>
  <%= @organization.brief_desc_of_services %>
</p>

<p>
  <strong>Real Estate Type:</strong>
  <%= @organization.real_estate_type.real_estate_type_desc %>
</p>

<p>
  <strong>Is Real Estate Included in the Sale?:</strong>
  <%= @organization.real_estate_included %>
</p>

<p>
  <strong>Future Rent:</strong>
  <%= @organization.futr_rent %>
</p>

<p>
  <strong>Lease Expiration Date:</strong>
  <%= @organization.lease_expir_date %>
</p>

<p>
  <strong>Possilbe Lease Extend Expiration Date:</strong>
  <%= @organization.extend_date %>
</p>

<p>
  <strong>Historical Earnings Ranking:</strong>
  <%= @organization.hist_earning_ranking.hist_earning_desc %>
</p>

<p>
  <strong>Financial Records Ranking:</strong>
  <%= @organization.finance_rec_ranking.finance_rec_desc %>
</p>

<p>
  <strong>Depth of Management Ranking:</strong>
  <%= @organization.depth_of_management_ranking.depth_of_mgmt_desc %>
</p>

<p>
  <strong>Location and Facilities Ranking:</strong>
  <%= @organization.loc_and_fac_ranking.loc_and_fac_desc %>
</p>

<p>
  <strong>Competition Ranking:</strong>
  <%= @organization.competition_ranking.competition_desc %>
</p>

<p>
  <strong>Diversification Ranking:</strong>
  <%= @organization.diversification_ranking.diversification_desc %>
</p>

<p>
  <strong>Equipment and Systems Ranking:</strong>
  <%= @organization.equipment_sys_ranking.eqp_sys_desc %>
</p>

<p>
  <strong>Employee Skill and Turnover Ranking:</strong>
  <%= @organization.employee_skill_turnover_ranking.emp_skill_turn_desc %>
</p>

<p>
  <strong>Desirability Ranking:</strong>
  <%= @organization.desirability_ranking.desirability_desc %>
</p>

<p>
  <strong>Historical Organization Performance Ranking:</strong>
  <%= @organization.hist_org_performance_ranking.hist_org_performance_ranking_desc %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @organization.org_comment %>
</p>
