<%= form_with(model: accounting_method, local: true) do |form| %>
  <% if accounting_method.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(accounting_method.errors.count, "error") %> prohibited this accounting_method from being saved:</h2>

      <ul>
      <% accounting_method.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :accounting_method_desc %>
    <%= form.text_field :accounting_method_desc %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
