<p id="notice"><%= notice %></p>

<h1>Accounting Methods</h1>

<table>
  <thead>
    <tr>
      <th>Accounting method desc</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @accounting_methods.each do |accounting_method| %>
      <tr>
        <td><%= accounting_method.accounting_method_desc %></td>
        <td><%= link_to 'View', accounting_method %></td>
        <td><%= link_to 'Edit', edit_accounting_method_path(accounting_method) %></td>
        <td><%= link_to 'Destroy', accounting_method, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Accounting Method', new_accounting_method_path %>
