<p id="notice"><%= notice %></p>

<p>
  <strong>Accounting method desc:</strong>
  <%= @accounting_method.accounting_method_desc %>
</p>

<%= link_to 'Edit', edit_accounting_method_path(@accounting_method) %> |
<%= link_to 'Back', accounting_methods_path %>
