<%= form_with(model: employee_skill_turnover_ranking, local: true) do |form| %>
  <% if employee_skill_turnover_ranking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(employee_skill_turnover_ranking.errors.count, "error") %> prohibited this employee_skill_turnover_ranking from being saved:</h2>

      <ul>
      <% employee_skill_turnover_ranking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :emp_skill_turn_desc %>
    <%= form.text_field :emp_skill_turn_desc %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
