<h1>Editing Employee Skill Turnover Ranking</h1>

<%= render 'form', employee_skill_turnover_ranking: @employee_skill_turnover_ranking %>

<%= link_to 'Show', @employee_skill_turnover_ranking %> |
<%= link_to 'Back', employee_skill_turnover_rankings_path %>
