<p id="notice"><%= notice %></p>

<h1>Employee Skill Turnover Rankings</h1>

<table>
  <thead>
    <tr>
      <th>Emp skill turn desc</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @employee_skill_turnover_rankings.each do |employee_skill_turnover_ranking| %>
      <tr>
        <td><%= employee_skill_turnover_ranking.emp_skill_turn_desc %></td>
        <td><%= link_to 'View', employee_skill_turnover_ranking %></td>
        <td><%= link_to 'Edit', edit_employee_skill_turnover_ranking_path(employee_skill_turnover_ranking) %></td>
        <td><%= link_to 'Delete', employee_skill_turnover_ranking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Employee Skill Turnover Ranking', new_employee_skill_turnover_ranking_path %>
