<p id="notice"><%= notice %></p>

<p>
  <strong>Emp skill turn desc:</strong>
  <%= @employee_skill_turnover_ranking.emp_skill_turn_desc %>
</p>

<%= link_to 'Edit', edit_employee_skill_turnover_ranking_path(@employee_skill_turnover_ranking) %> |
<%= link_to 'Back', employee_skill_turnover_rankings_path %>
