<!DOCTYPE html>
<html>
<head>
  <title>Cole & Company Inc.</title>
  <header>

    <div class="container">
      <%= image_tag("logo.png", :size => "290x88") %>
      <nav>
        <ul><% if user_signed_in? %>

          <% if !current_user.is_broker? %>
            <li><%= link_to image_tag("arbtr_home.jpg", :size => "140x114"), page_path('client_home'), class:"image_button" %>
            </li>
            <% end %>
            <% if current_user.is_broker? %>
            <li><%= link_to image_tag("arbtr_home.jpg", :size => "140x114"), page_path('appraiser_home'), class:"image_button" %>
            <% end %>
            <li>
              <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
            </li>
          <% else %>
            <li>
              <%= link_to('Login', new_user_session_path)  %>
            </li>
          <% end %>
        </ul>
      </nav>
    </div>
  </header>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<%= yield %>
</body>
</html>
